{% extends 'base.html.twig' %}

{% block title %}Hello LostPasswordController!{% endblock %}

{% block body %}

<h3>Mot de passe oublié</h3>

    {{form_start(form)}}
        {{form_errors(form.email)}}
     {{form_row(form.email)}}
     <button type="submit">Envoyer email</button>
     {{form_end(form)}}
{% endblock %}
