<form method="post" action="{{ path('documents_delete', {'id': file.getPathName }) }}" onsubmit="return confirm('Voulez-vous vraiement supprimer ce fichier définitivement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.getPathName) }}">
    <button class=" ms-2 btn btn-warning">Supprimer</button>
</form>