{% extends 'base.html.twig' %}

{% block title %}Métier{% endblock %}

{% block body %}
<div class="container-flex" >
        <section  id ="fndO">
            <div class="d-flex flex-column align-items-center" id="blockTitre" >
                <h1>PLF DISTRIBUTION</h1>
                <h3>Votre grossiste en thés & infusions</h3>
            </div>
            <img class="logoFond" src="/images/menu/logo-fond2.svg" />
            <p class="titre3">Notre métier : Agro-distributeur.</p>
        
      </section>
      <section class="bg-white">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                      <h1 class="card-title text-center ">PLF DISTRIBUTION :</h1>
                      <h2 class="accroche text-center">Un seul interlocuteur pour tous vos besoins</h2>
                     
                      <p class="textArt">Vous voulez vous donner les moyens de développer votre activité, mais
                        vous n'avez pas encore toutes les ressources nécessaires pour mener à bien cette lourde
                        tâche. Certains de vos concurrents plus anciens disposent peut-être de plus de moyens, et
                        d'expérience. Peut-être avez-vous plus d'affinités pour certaines tâches, et souhaitez en confier
                        d'autres, à des prestataires chevronnés. Ou bien n'avez-vous tout simplement pas detemps pour 
                        certaines choses.PLF DISTRIBUTION vous propose une large gamme de services qui couvrent tous les
                        aspects de votre activité,et qui sont disponibles sous forme de package, ou de prestation sur mesure.
                        Elles s'adaptent à votre budget et à votre besoin.
                      </p>
                       
                </div>
                
            </div>
           
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                      <div class="row d-flex  mx-5   ">
                          <div class="col-12 col-md-12 col-lg-4 mt-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/business/tea-etalage.jpg" 
                                        class="imageCard" 
                                        alt="image de thé en étalage"
                                    >
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Fourniture d'une grande gamme de thés, sélectionnés par nos acheteurs dans le monde entier, selon des critères de qualité.</p></div>
                              </div>
                              
                          </div>
                          
                          <div class="col-12 col-md-12 col-lg-4 mt-4 ">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/tea/teafields3.avif"  
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                       <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">producteur thaîlandais de thé vert devenu fournisseur régulier de PLF DISTRIBUTION.</p></div>
                              </div>
                          </div>
                          <div class="col-12   col-md-12 col-lg-4 mt-4">
                            <div class="card1 mx-3 text-center" >
                                  <img style="width:85%; "
                                      src="/images/business/marketstudies.jpg" 
                                      class="imageCard" 
                                      alt="image de la ferme"
                                  >
                                 <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Nous étudions le marché du thé afin de vous proposer les meilleurs produits, à des prix modérés, en tenant compte des tendances du moment.</p></div>
                        
                            </div>
                          </div>
                   
                          <div class="col-12   col-md-12 col-lg-4 mt-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/business/mobilier.avif" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Avec nos partenaires PROS dans le mobilier d'entreprise, vous disposez d'un large choix de meubles pour votre restaurant, boutique, stand, marché, à des tarifs négociés.</p></div>
                        
                              </div>
                          </div>
               
                         <div class="col-12   col-md-12 col-lg-4 mt-0">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:40%;height:40% "
                                        src="/images/sachet.png" 
                                        class="imageCard  mx-1" 
                                        alt="image de la ferme"
                                    >
                                    
                                    <img style="width:40%;height:40% "
                                        src="/images/sachetgris.png" 
                                        class="imageCard mx-1" 
                                        alt="image de la ferme"
                                    >
                                     
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">retrouvez aussi les conditionnements pour votre boutique ou votre site internet avec notre partenaire dédié.</p></div>
                        
                              </div>
                          </div>
               
                          <div class="col-12 col-md-12 col-lg-4 mt-4">
                              <div class="d-flex flex-row mx-3 justify-content-around text-center" >
                                  
                                    <img style="width:40%;height:40% "
                                        src="/images/gondole.png" 
                                        class="imageCard  mx-1" 
                                        alt="image de la ferme"
                                    >
                                    
                                    <img style="width:40%;height:40% "
                                        src="/images/etagere.png" 
                                        class="imageCard mx-1" 
                                        alt="image de la ferme"
                                    >
                                     
                                     
                              </div>
                              
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Vous avez une boutique ? nous vous ferons gagner du temps avec nos partenaires pour vous équiper au meilleur prix. Gondoles, étagéres, comptoirs, habillages et décos .</p></div>
                                   
                              </div>


                         <div class="col-12 col-md-12 col-lg-4 mt-0">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:45%;margin-top:-2.8rem "
                                        src="/images/balance.png" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Retrouvez tout le materiel de production, dont vous avez besoin, comme les balances avec certificat de tarage, remplisseuse, étiqueteuse...</p></div>
                        
                              </div>
                          </div>
               
                         <div class="col-12   col-md-12 col-lg-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:40%;height:40%;"
                                        src="/images/conditionnement/box-g5b9959e0e_1280.png" 
                                        class="imageCard  mx-1" 
                                        alt="image de la ferme"
                                    >
                                    
                                    <img style="width:40%;height:40% "
                                        src="/images/conditionnement/box-g3066ae7eb_1280.png" 
                                        class="imageCard mx-1" 
                                        alt="image de la ferme"
                                    >
                                     
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Vous avez un site internet, et faites des envois vous-même, nous avons du cartonnage adapté, du flo-pak ou des enveloppes matelassées. Il est aussi possible de sous traiter les envois.</p></div>
                        
                              </div>
                          </div>
               
                          <div class="col-12 col-md-12 col-lg-4 mt-4">
                              <div class="d-flex flex-row mx-3 justify-content-around text-center" >
                                  
                                    <img style="width:25%;height:25%;margin-top:1.3rem;border-radius:7px "
                                        src="/images/ecocert.png" 
                                        class="imageCard  mx-1" 
                                        alt="image de la ferme"
                                    >
                                    
                                    <img style="width:20%;height:20%;margin-top:1.8rem;  "
                                        src="/images/bio.png" 
                                        class="imageCard mx-1" 
                                        alt="image de la ferme"
                                    >
                                     
                                     
                              </div>
                              
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Nous vous proposons une gamme de produits Bio certifiés par les normes en vigueur. La certification est renouvelée chaque année selon la réglementation en cours.</p></div>
                                   
                          </div>

                          
                         <div class="col-12 col-md-12 col-lg-4 mt-0">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:80%;margin-top:.8rem "
                                        src="/images/business/order.jpg" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Conditions de vente PRO : Vous inscrire en tant que client PRO avec votre KBIS et attendre la validation de notre gestionnaire. C'est tout !!!</p></div>
                        
                              </div>
                          </div>
               
                         <div class="col-12   col-md-12 col-lg-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:80%;margin-top:.8rem "
                                        src="/images/business/services.jpg" 
                                        class="imageCard  mx-1" 
                                        alt="image de la ferme"
                                    >
                                    
                                   
                                     
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Notre service client est à votre disponible pour vous aider sur simple appel téléphonique.(Avec le numéro vert qui vous sera fourni au moment de la validation de votre compte PRO par notre gestionnaire).</p></div>
                        
                              </div>
                          </div>
               
                          <div class="col-12 col-md-12 col-lg-4 mt-2">
                              <div class="d-flex flex-row mx-3 justify-content-around text-center" >
                                  
                                    <img style="margin-top:.4rem;width:95%;height:80%;border-radius:7px "
                                        src="/images/loi2.jpg" 
                                        class="imageCard   " 
                                        alt="image de la ferme"
                                    >
                                    
                                    
                                     
                                     
                              </div>
                              
                                    <div style="display-flex;justify-content:start; padding:1rem"><p class="textArt text-center">Vous souhaitez être conseillés sur les démarches administratives, les lois  ou la réglementation, ou même sur les normes bio. Nos conseillés sont là pour vous aider sur simple appel téléphonique ou par email.</p></div>
                                   
                          </div>







                          </div>





                          </div>
            
                    </div>
                </div>
            </div>
         
      </div>
  </section>
  {# <section  class=" bg-white article">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                                           
                      <h2 class="textArt mx-2  text-center"> trois packs sont disponibles : Business, eCommerce et Sérénité.
                      </h2>
                     
                       
                </div>
                
            </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
            <div class="card1 mx-1 bg-black" >
                  <img style="width:100%; "
                      src="/images/business/services.png" 
                      class="imageCard" 
                      alt="image de la ferme"
                  >
            </div>
      </div>
   </section>
    <section  class=" bg-white article">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
        
                    <h2 class="accroche text-center"> Description: </h2>

                    <ul>
                    <li>
                        <h3 class="textArt"> pack Business</h3> 
                       <ul class="textArt">
                            <li >accompagnement jurique pour créer votre entreprise</li>
                            <li>Accompagnement dans votre étude de marché. </li>
                            <li>L'étude financiére ( évaluation de la mise de fond) </li>
                            <li>l'aide à la recherche du local.</li> 
                            <li> Accompagnement sur la réglementation.</li>
                            <li> Accompagnement comptable</li>
                            <li>Fourniture du thé</li>

                       </ul> 
                    </li>        
                     <br>
                    <li>
                        <h3 class="textArt"> pack eCommerce</h3> 
                       <ul class="textArt">
                            <li>Partenariat pour création du site</li>
                            <li>hébergement</li>
                            <li>Fourniture des emballages, balance, cartonnage</li>
                            <li>Aide logistique</li> 
                            <li>Accompagnement sur la réglementation.</li>
                            <li>Accés à la médiathéque</li>
                            <li>Fourniture du thé</li>
                       </ul> 
                    </li>                  
                      <br>
                    <li>
                        <h3 class="textArt"> pack sérénité</h3> 
                       <ul class="textArt">
                            <li>accompagnement jurique pour créer votre entreprise</li>
                            <li>Accompagnement dans votre étude de marché. </li>
                            <li>L'étude financiére ( évaluation de la mise de fond) </li>
                            <li>l'aide à la recherche du local si nécessaire.</li> 
                            <li> Accompagnement sur la réglementation.</li>
                            <li> Accompagnement comptable</li>
                            
                            <li>Partenariat pour création d'un site si nécessaire.</li>
                            <li>Avec hébergement </li>
                            <li>Fourniture des emballages, balance, cartonnage</li>
                            <li>Aide logistique</li> 
                            <li>Fourniture du thé</li>
                       </ul> 
                    </li>          
                    
                </div>
                  <h4 class="mx-4 my-4 textArt"> Ces services peuvent être souscrits avec un abonnement renouvelable, ou bien sous forme de crédit utilisation. Il est aussi possible d'acheter un service à l'unité. Renseignez-vous auprés de notre service commercial. </h4>
            </div>
         
       </div>
   </section> #}
      
  </div> 
{% endblock %}
