{% extends 'base.html.twig' %}

{% block title %}Statut{% endblock %}

 {# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'votre statut'|trans}}" />
{% endblock %} 

{% block body %}
 <div class="container">
    <h1 class="my-2">Votre dossier est en cours d'étude.</h1>
    <b><p class="mt-4">Aprés validation par notre administrateur, Vous aurez la possibilité d'accéder :</p></b>
    <ul>
        <li>Aux tarifs professionnels.</li>
        <li>Aux offres de services.</li>
        <li>Aux conseils business.</li>
        <li>Et bien d'autres avantages.</li>
    </ul>
    <b><p class="mt-4">Accédez dés aujourd'hui :</p></b>
    <ul>
        <li><a href="{{ path('gamme_index') }}"> Aux tarifs publics</a>.</li>
        <li>A certaines pages d'information.</li>
    </ul>

    <h4>La validation de votre compte pro sera réalisée en  48 H Maximum.</h4>
    <p> La page statut ne sera plus disponible et vous aurez accès aux options pros. </p>

     <h5>A trés bientôt !!! </h5>

  </div> 
{% endblock %}
