{% extends 'base.html.twig'%}


{% block title 'Mentions Légales' %}
  
   

{% block body %}
<div class="container"  >
         <div class="infos fnd py-4"  >
            <div class="mx-4 px-4 cont2">
                <section>
                    <br/>
                    <h2 class="titre d-flex justify-content-center text-success "> A propos de nous</h2><br>
                    <div style="height:5px; "class="W-25 bg-success"></div>         
                                
                </section> 
                <div class="  py-4 infos ">
 
                  
                   
                   <div class="d-flex justify-content-center">
                        <div class="text-start">
                            <strong class="text-center">PLF SAS</strong>
                            <p><strong>140 rue gabriel PERI <br />91760 ITTEVILLE<br />France
                            <br>Tél.: 01 64 39 41 20. </br>  
                             N° Siret : 45 58 45 88 000 888.</p> </strong> 
                    
                            <p>Fondateur et dirigant :<strong> Gilles VALOT </strong><br />Idée originale: <strong>Catherine VALOT</strong></p>     
                            <p>Site réalisé en PHP SYMFONY par la société <b>MEDIAVAL TECHNOLOGY SAS  </b>  
                            <img src="images\\armure.png" style="width:2rem;height:2rem" > Sites web
                             <br> Contacter <b>Anne-sophie VALOT</b> pour toute étude de projet - <b>Portable :</b> 06 45 89 55 66.  <b>Email : contact@mediaval.fr </b> </p>     
                            <p> Hébergement du site : PlanetHoster <p>
                        </div>
                    </div>
                </div>    
            </div>    
        </div>               
 </div>
  
{% endblock %}