{% extends 'base.html.twig'%}


{% block title 'A propos' %}

{# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{' Coordonnées de l\'entreprise avec raison sociale, adresse et dirigant '|trans}}" />
{% endblock %}  
   

{% block body %}
<div class="container-flex"  >
         <div class="infos fnd py-4"  >
            <div style="opacity:0.8" class="mx-4 px-4 my-4 bg-white ">
                <section>
                    <br/>
                    <h2 class="titre d-flex justify-content-center text-success ttreT"> A propos de nous</h2><br>
                    <div style="height:5px; "class="W-25 bg-success"></div>         
                                
                </section> 
                <div class="  py-4 infos ">
 
                  
                   
                   <div class="d-flex justify-content-center">
                        <div class="text-start">
                            <strong class="text-center textArt">PLF SAS</strong>
                            <p class="textArt"><strong>140 rue gabriel PERI <br />91760 ITTEVILLE<br />France
                            <br>Tél.: 01 64 39 41 20. </br>  
                             N° Siret : 45 58 45 88 000 888.</p> </strong> 
                    
                            <p class="textArt2">Fondateur et dirigant :<strong> Gilles VALOT </strong><br />Idée originale: <strong>Catherine VALOT</strong></p>     
                            <p class="textArt2">Site réalisé en PHP SYMFONY par la société <b>MEDIAVAL TECHNOLOGY SAS  </b>  
                            <img src="images\\armure.png" style="width:2rem;height:2rem" > Sites web
                             <br> Contacter <b>Anne-sophie VALOT</b> pour toute étude de projet - <b>Portable :</b> 06 45 89 55 66.  <b>Email : contact@mediaval.fr </b> </p>     
                            <p class="connectNotif"> Hébergement du site : LWS <p>
                        </div>
                    </div>
                </div>    
            </div>    
        </div>               
 </div>
  
{% endblock %}