 
@media only screen and (max-width: 768px) {
/* 
    .connexion {
      color: #769643;
      font-size: xx-small;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-color: black;
    } */
}

@media only screen and (min-width: 769px) {

    /* .connexion {
      color: #769643;
      font-size: xx-small;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin-right: 2rem;
      background-color: black;
    } */

}

 
/* .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;;
} */