
a {text-decoration:none}

/* **************************************************/
     /* device < 771  */
/* **************************************************/

@media only screen and (max-device-width: 770px) {
  
  /* barre grise largeur */
  #accBar {
    height:11rem!important;
    display:flex!important;
    align-items:center!important;
    justify-content:space-between!important;
    background-color: #769643!important;
  }

  /* partie visible quand connecté */
  #ConnectedBar {
    list-style:none!important;
    display:flex!important;
    flex-direction:row!important;
    justify-content:space-between!important;
    align-items:center!important;

  }

  /* font deconnexion */
  #divDeconnect {
   font-size:x-large;

  }
   
 /* partie visible quand connecté */
  #ConnectedBar li{
    list-style:none;
    margin-top:1.8rem;
    display:flex!important;
    flex-direction:row!important;
    font-size:xx-large!important;
    justify-content:space-around!important;
    
  }
  
  /* icone login utilisateur  */
  #shAccount {
    text-decoration: none!important;
    Color:black!important;
    font-size:xx-large!important;
    display:flex; 
    align-items:center;
    justify-content:left;
  }
 
  /* barre connexion et inscription */
  #connectPanel {
    display:none!important;
  }

   /* Bt de déconnexion  */
  .DeconnectButtonSM
  {
    display:flex!important;
  }
     /* options du menu */
    .MenuSm{
      background-color:white!important;
      font-size:5rem!important;
      text-align:center!important;
      border-style:solid;
      color:#769643!important;
      border-radius:7px;
    }

    /* image logo noir de la navbar */
    #imgNav {
      object-fit:cover!important;
      min-height:6.2rem!important;
      min-width:4.7rem!important;
    }
  
    /* toggler */
    .navbar-toggler .navbar-toggler-icon{
      width:8rem!important;
      height:8.5rem!important;
    }

    /* commutateur bar user */
    #barAcc, #barAccu {
        display:flex!important;
    }

    /* logo cart */
    #imcrt {
      height: 7.2rem;
      width:7.2rem; 
    }

    /* bloc panier */
    #divCart {

      width:3.5rem;
      height:3.5rem;
      display:flex;
      align-items:center;
      margin-right:4.3rem;
      text-align:center;
      font-size:x-large;
      margin-bottom:1rem;

    }
}

/* **************************************************/
     /* device > 770  */
/* **************************************************/

@media only screen and (min-device-width: 771px)  {

  /* image logo noir de la navbar */
  #imgNav {
       max-height: 2.5rem;
     }
    /* barre grise largeur */
     #accBar{
           
      height:3.5rem!important;
      display:flex!important;
      align-items:center!important;
      justify-content:space-between!important;
      background-color: #769643!important;
     

    }
      /* barre grise largeur */
    #accBar ul { 
      list-style:none;  
      display:flex!important;
      flex-direction:row!important;
      align-items:center!important;
      margin-top:1rem;
    }

    /* commutateur bar user */
    #barAcc,#barAccu {
      display:none!important;
  }
 
   /* bt compte user */
  .clCompte
  {
   text-decoration: none!important;
   Color:black;
   font-size:small;
   
  }
   /* survol bt compte user */
  .clCompte:hover{
    color:white!important;
  }

   /* Bt de déconnexion  */
  .DeconnectButtonSM
  {
    display:none!important;
  }
  
  
    /* logo cart */
  #imcrt {

    height:2.2rem;
    width:2.2rem; 

  }

  /* bloc panier */
  #divCart {

    width:2.6rem;
    height:2rem;
    display:flex;
    align-items:center;
    margin-right:4.5rem;
    margin-bottom:0.4rem;
    text-align:center;

  }


}
 
