 
 @media only screen and (max-device-width: 768px) {
  .imageDetailPanier {
    height: 8rem !important;
    object-fit: contain !important; 
  }
  .imageRecapPanier {
    height: 6rem !important;
    object-fit: contain !important;
  }
  .panierDesi, .recapDesi {
    width: 30rem;
    font-weight: bold;
    margin-left: 5rem !important;
    font-size: xx-large;
    margin-top:1rem;
     
     
  }
  .panierPrice, .panierTot, #panierQte {
    width: 8rem;
    font-size: xx-large;
    font-weight: bold;
  
  }

  .panierSousTot {
    font-size: 2rem!important;
    font-weight: bold;
  }
  .notPort{font-size:x-large; }

  .recapQte{
    width: 4rem;
    font-size: large;
    margin-top: .6rem;
    color:darkgreen;
    font-weight:normal;
    margin-left:3rem;
    display:flex;
    flex-direction:row;
    }
  .recapPrice{
    width:10rem;
    font-size: x-large;
    color:darkgreen;
  
    margin-left:5rem;
    margin-top: .3rem;
    }
    .recapTot {
      font-size: x-large;
      font-weight: bold;
     
    }
  .recap {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
  }
  .panier {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
   }

   .btRg {
    border-radius:7px;
    margin-top:1rem!important;
    margin-left:1rem!important;
    margin-right:1rem!important;
    width:4rem;
    height:4rem;
    padding:0.5rem;
    font-size:xx-large;

  }
   
  .trash {
    width:2.4rem!important;
     margin-top:-1.2rem;
   
   }
   

}

 
 /* @media only screen and (max-device-width: 768px) {
  .imageDetailPanier {
    height: 6rem !important;
    object-fit: contain !important;
  }
   .imageRecapPanier {
    height: 3rem !important;
    object-fit: contain !important;
  }

  .panierDesi {
    width: 25rem!important;
    font-weight: bold;
    margin-left: 2rem !important;
    font-size: x-large;
    color:red!important;
    
  }

  .panier {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
     }

  .panierPrice {
    width: 6rem;
    font-size: x-large;
    margin-left:0.5rem;
    font-weight: bold;
  }

  .recap {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
  }

  .recapDesi {
    width: 18rem;
    font-weight: bold;
    margin-left: 2rem !important;
    font-size: medium;
    margin-top:1rem;
  }

  .recapPrice{
    width: 8rem;
    font-size: large;
    font-weight: bold;
    margin-left:0rem;
   
    }

  .panSM {

      display: flex;
      flex-direction:row;
     
       
  }

    .panier {
      display: flex;
     
      align-items: center;
      justify-content:center;
      flex-wrap: wrap;
 
     }

  .recapQte{
    width: 4rem;
    font-size: medium;
     
    font-weight:normal;
    margin-left:3rem;
    display:flex;
    flex-direction:row;
    }  

} */

@media only screen and (min-device-width: 769px) {
  .imageDetailPanier {
    height: 3rem !important;
    object-fit: contain !important; 
  }
  .imageRecapPanier {
    height: 4rem !important;
    object-fit: contain !important;
  }
  .panierDesi, .recapDesi {
    width: 18rem;
    font-weight: bold;
    margin-left: 5rem !important;
    font-size: medium;
    margin-top:1rem;
     
  }
  .panierPrice {
    width: 5rem;
    font-size: medium;
    font-weight: bold;
  
  }
  .recapQte{
    width: 4rem;
    font-size: large;
    margin-top: .6rem;
    color:darkgreen;
    font-weight:normal;
    margin-left:3rem;
    display:flex;
    flex-direction:row;
    }
  .recapPrice{
    width:10rem;
    font-size: x-large;
    color:darkgreen;
  
    margin-left:5rem;
    margin-top: .3rem;
    }
    .recapTot {
      font-size: x-large;
      font-weight: bold;
     
    }
  .recap {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
  }
  
 

   .panier {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
   }

}

/* tous */
  /* .panier {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  
} */

.inc:hover {
  background-color: rgb(238, 230, 225) !important;
}

.panierTrashImg {
  height: 1rem !important;
}

#panierQte {
 
  width: 3rem;
  text-align: center;
  padding: 0.5rem;

  background-color: whitesmoke;
}

.panierSousTot {
  font-size: large;
  font-weight: bold;
}

.pointRelay {
  background-color: darkcyan !important;
  color: white;
  height: 2rem !important;
  padding: 0.2rem;
}
.pointRelay:hover {
  background-color: black !important;
  color: white;
}
.btPanier
{
  width:10.3rem;
  height:2.3rem;
  background-color:black;
  border-radius:7px;
  border-width:thin;
  color:white;
  text-decoration:none;
  font-weight: normal;

}

.btPanier:hover {

  background-color:darkcyan;
  color:white;

}
.btPanierFinal
{
  
  width:10rem;
  height:2.3rem;
  
  border-radius:7px;
  border-width:thin;
  text-decoration:none;
  color:white;
  font-weight: normal;

}

.btPanierFinal:hover {
  background-color:darkcyan;
  color:white;
}   

.ctIm {
  width:92%;
  opacity:90%;
  border-radius:7px
}

.btRg {
  border-radius:7px;
  margin-top:-1rem!important;
  margin-left:1rem!important;
  margin-right:1rem!important;
}

.trash {
 width:1.4rem;
  margin-top:-1.2rem;

}

