 
 @media only screen and (max-device-width: 768px) {
  .imageDetailPanier {
    height: 10rem !important;
    object-fit: cover!important; 
  }
  .imageRecapPanier {
    height: 10rem!important;
    object-fit: cover !important;
   
    
  }
  .panierDesi {
    width: 30rem;
    font-weight: bold;
    margin-left: 11rem!important;
    font-size: xx-large;
    margin-top:1rem;
  }

  .recapDesi {
    width: 30rem;
    font-weight: bold;
    margin-left: 11rem!important;
    font-size: xx-large;
    margin-top:1rem;
    
  }


  .panierPrice, .panierTot, #panierQte {
    width: 12rem;
    font-size: 2.8rem;
    font-weight: bold;
    margin:.5rem;
  }

  .recapPrice{
    width:20rem;
    font-size: 2.8rem;
    font-weight: bold;
    color:darkgreen;
     
  
    margin-left:5rem;
    margin-top: .3rem;
    }

  .panierSousTot {
    font-size: 3rem!important;
    font-weight: bold;
   
  }
  .notPort{font-size:x-large; }

  .recapQte{
    width: 8rem;
    margin-top:0.5rem;
    font-size: 2.5rem;
    
    color:darkgreen;
    font-weight:normal;
    margin-left:3rem;
    display:flex;
    flex-direction:row;
    }
  
    .recapTot {
      font-size:2.8rem;
      font-weight: bold;
      margin-left:8rem;

     
    }
  .recap {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:start!important;
    flex-wrap: wrap;
    margin-left:2rem;
  
    
  }
  .panier {
  display: flex;
  align-items: center;
  justify-content:start;
  margin-left:2rem;

  flex-wrap: wrap;
   }

   .btRg {
    border-radius:7px;
    margin-top:1rem!important;
    margin-left:1rem!important;
    margin-right:1rem!important;
    width:5rem;
    height:5rem;
    padding:0.1rem;
    font-size:3rem;

  }
   
  .trash {
    width:3.4rem!important;
     margin-top:-1.2rem;
   
   }
   

}

@media only screen and (min-device-width: 769px) {
  .imageDetailPanier {
    height: 3rem !important;
    object-fit: cover !important; 
    width:3rem;
  }
  .imageRecapPanier {
    height: 4rem !important;
    object-fit: contain !important;
  }
  .panierDesi, .recapDesi {
    width: 18rem;
    font-weight: bold;
    margin-left: 5rem !important;
    font-size: medium;
    margin-top:1rem;
   
   
     
  }
  .panierPrice {
    width: 6rem;
    font-size: medium;
    font-weight: bold;
    
   
  
  }
  .recapQte{
    width: 5rem!important;
    font-size: x-large;
     
     
    color:darkgreen;
    font-weight:normal;
    /* margin-left:3rem; */
    display:flex;
    flex-direction:row;
    }
  .recapPrice{
    width:10rem;
    font-size: x-large;
    color:darkgreen;
  
    margin-left:5rem;
    /* margin-top: .3rem; */
    }
    .recapTot {
      font-size: x-large;
      font-weight: bold;
       margin-left: 2rem;
     
    }
  .recap {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
  .panier {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  
   }
    
  .panierDroit
  {
    width:27rem;
    display:flex;
    flex-direction: row;
    justify-content:start;
  
     
  }
  
 

 

}

.inc:hover {
  background-color: rgb(238, 230, 225) !important;
}

.panierTrashImg {
  height: 1rem !important;
}

#panierQte {
 
  width: 4rem;
  text-align: center;
  padding: 0.5rem;

  background-color: whitesmoke;
}

.panierSousTot {
  font-size: large;
  font-weight: bold;
}

.pointRelay {
  background-color: darkcyan !important;
  color: white;
  height: 2rem !important;
  padding: 0.2rem;
}
.pointRelay:hover {
  background-color: black !important;
  color: white;
}
.btPanier
{
  width:10.3rem;
  height:2.3rem;
  background-color:black;
  border-radius:7px;
  border-width:thin;
  color:white;
  text-decoration:none;
  font-weight: normal;

}

.btPanier:hover {

  background-color:darkcyan;
  color:white;

}
.btPanierFinal
{
  
  width:10rem;
  height:2.3rem;
  
  border-radius:7px;
  border-width:thin;
  text-decoration:none;
  color:white;
  font-weight: normal;

}

.btPanierFinal:hover {
  background-color:darkcyan;
  color:white;
}   

.ctIm {
  width:92%;
  opacity:90%;
  border-radius:7px
}

.btRg {
  border-radius:7px;
  margin-top:-1rem!important;
  margin-left:1rem!important;
  margin-right:1rem!important;
}

.trash {
 width:1.4rem;
  margin-top:-1.2rem;

}

.buttonStyleRecap
{
  height:5.5rem;
  width : 18rem;
  font-size:2.5rem;
  padding:0.1rem;
}

