.scoll-pane {
    width: 100%;
    height: auto;
    overflow: auto;
    outline: none;
    overflow-y: hidden;
    /* padding-bottom: 55px; */
    -ms-overflow-style: scroll;  
    scrollbar-width: none;  
    margin-left:0.0rem;
    margin-right:0.2rem;
   
    min-width:200px!important;
    
}

.scoll-pane-d {
    width: 150%;
    height: auto;
    overflow: auto;
    outline: none;
    overflow-y: hidden;
    /* padding-bottom: 55px; */
    -ms-overflow-style: scroll;  
    scrollbar-width: none;  
    margin-left:0.4rem;
    margin-right:0.4rem;
   
    width:200px!important;
    
}
@media only screen and (min-width: 769px) {

    .scoll-pane {
       
       min-width:285px!important;
    }

}

   .scoll-pane::-webkit-scrollbar { 
  display: none; 
  }

  .slideBt {
      height:60px;
      width:2rem;   
      background-color:rgb(241, 253, 240);
      border:none;

  }