body {background-color:white!important;}

.card1 img {
  border-radius:7px;
}
.gif {width:35px;}

.detailImgSm {
 width:2rem!important;
}



/* Image de fond la fiche gamme (fiche produit) */
.fnd{
  
  background-image: url(/images/fond.jpg)!important;  
  background-repeat: no-repeat;
  background-size: cover ;
}
/* Couleur de la fiche de la gamme et opacité  */
.cont {
    opacity:0.7!important;
    background-color: white!important;
}
 
.fondcgv {
  background-color:rgb(238, 247, 237);
}

#box:hover {

  background-color:aqua!important;  
  border-radius:60%!important;  ;
  }
  #eye:hover {
    background-color:aqua!important;  
    border-radius:50%!important;  ;
    
    }
 
  #imcart:hover {
      
    background-color:cadetblue!important;  
    border-radius:7px!important;
      
  }
  .imChoice:hover
  {
    color:rgb(14, 17, 10)!important; 
    background-color: aquamarine;
    font-size:medium;
  }

 

  .ui-dialog-titlebar {
     color:red;
  }

  
.politiqueLien a {
  text-decoration: none;
  color:darkslategray;
  font-weight: bold;
  font-size: small;
}
.politiqueLien a:hover {
  color: lightseagreen;
  font-weight: bold;
}
.politiqueLien a:visited {
  color: lightblue;
}

  /* ------------------------------------------ */

  #fondInfos {
    background-image: url("/images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
  }
  
  .titreSurImage {
    color: white;
  }
  
  #fond {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: 769px) {
    #fond {
      background-image: url("/images/fond.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 55rem;
    }
  

    #fndM{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(/images/business/gerant.jpg)!important;  
      background-repeat: no-repeat;
      background-size: cover ;
      height: 55rem;
    }

    .cont2 {
      opacity:0.9!important;
      background-color: white!important;
      border-radius:7px;
      margin:5rem 10rem 5rem 10rem!important;
    }

    #fond h1, #fndM h1 {
      font-size: 5rem;
      font-weight: bold;
      color: white;
    }
    #fond h3, #fndM h3 {
      font-size: 3.1rem;
      font-weight: lighter;
      color: white;
      margin-top: -2rem;
      text-decoration: underline;
    }
  
    .titre2 {
      color: white;
      font-size: 2.7rem;
      background-color: black;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 0.8rem;
    }
    .titre3 {
      color: white;
      font-size: 2.7rem;
      background-color: black;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 0.8rem;
    }

    #fond .logoFond,#fndM .logoFond {
      width: 30rem !important;
    }
  
    #fondInfos .logoFond2 {
      width: 50rem !important;
    }
    
    .detailGammeSepDroite {
      border-right-style:solid; 
      border-right-color:light-gray;
      border-right-width:thin
   }

   .LprixHT { font-size:small;}
   .LprixTTC { font-size:x-small;}
   .prixHT {
     font-family:Segoe UI Semibold;
     font-weight:800;
     font-size:3rem;  
   }
   .prixTTC { 
     font-family:Segoe UI Semibold;
     font-weight:800;
     font-size:2rem;
   }

  }
  @media only screen and (max-width: 768px) {

    #fond {
      background-image: url("/images/fond.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  
      height: 30rem;
    }
    .imgsm{
      min-width:20rem;

    }

    .detailSm {

      margin-top:2rem!important;
      display:flex;
      flex-direction:row;
      align-items:center;
      margin-bottom:2rem!important;
    }
    .detailImgSm {
      width:2rem!important;
     }
     
     .detailImgSm {
       width:2rem!important;
       margin-top:2rem;
     }
     

    #fndM {
      background-image: url(/images/business/gerant.jpg)!important;  
      background-repeat: no-repeat;
      background-size: cover;
      height: 30rem;
      text-align:center;
    }
      
    .cont2 {
      opacity:0.9!important;
      background-color: white!important;
      border-radius:7px;
      
    }

    #fndM h1  {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      text-align:center;
      padding-top:1rem;
    }
    #fndM h3 {
      font-weight: lighter;
      color: white;
      font-size: 1.2rem;
      margin-top: -1rem;
      text-decoration: underline;
      text-align:center;
    }

    #fond h1  {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      margin-top: 1rem;
    }
  
    #fond h3 {
      font-weight: lighter;
      color: white;
      font-size: 1.2rem;
      margin-top: -1rem;
      text-decoration: underline;
    }
    .titre2 {
      color: white;
      font-size: 1.4rem;
      background-color: black;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.2rem;
      padding-bottom: 0.4rem;
    }
    .titre3 {
      color: white;
      font-size: 1rem;
      background-color: black;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 0.8rem;
      margin:0.5rem;
    }
    .accroche {
      font-size: 1.2rem;
      font-weight: lighter;
      color:rgb(3, 51, 51)!important;
    }
  
    #fond .logoFond {
      width: 17rem !important;
    }

    #fndM .logoFond {
      width: 17rem !important;
      }

    .blkInfo img {
      width: 5rem !important;
      object-fit: cover;
    }
  
    .infos p {
      font-size: small !important;
      color: black !important;
    }
    .infos H5 {
      text-align: center;
      color: black !important;
    }
    .infos H6 {
      font-size: medium !important;
      font-weight: 300px;
      color: black !important;
    }

    .detailGammeSepDescr {
      border-top-style:solid; 
      border-top-color:light-gray;
      border-top-width:thin;  
   }
    
    .LprixHT { font-size:small;}
    .LprixTTC { font-size:x-small;}
    .prixHT {
      font-family:Segoe UI Semibold;
      font-weight:800;
      font-size:3rem;  
    }
    .prixTTC { 
      font-family:Segoe UI Semibold;
      font-weight:800;
      font-size:2rem;
    }

  }

  /* ------------Liste des categories---------------------------- */

  .categoryBlock {

    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  .categoryText {
    width:90%;
    display:flex; 
    justify-content:start;
    flex-direction:column;  
  }
  .categoryImage{
    object-fit:cover;
    border-radius:60%;
    height:12rem;
    width:12rem;
  }
  .categoryImage:hover{
      border-color:chartreuse;
      border-style:solid;
      border-width:thick;
  }
  .categoryDescription {
    display:flex;
    flex-direction:row;
    justify-content:center;
  }

  .categoryMainImage
  {
   border-radius:8px;
    
  }
 
 /* ------------Liste gamme---------------------------- */ 

 .gammeDetail {
      text-decoration:none!important;
      color:dodgerblue!important;
      font-size:larger;
      margin-top:2rem;
      
 }
 .gammeDetail:hover {
   
   font-weight: bolder;
 }

 /* -------------- detail produit de gamme -------------------- */

 .detailColor
 {
   background-color:ghostwhite;
 }  
  

 .detailGammeSepBasse {
   border-bottom-style:solid; 
   border-bottom-color:light-gray; 
   border-bottom-width:thin;
 }

 .detailGammeSepHaute {
   border-top-style:solid; 
   border-top-color:light-gray;
   border-top-width:thin;
}

.detailGammeReco { 
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  
}
.detailGammeinterligneReco
{
  line-height:3px!important;
  margin-top:2rem;
}

.detailGammeImg {
  width:20rem;
  object-fit:cover;
}
/* ----------------- panier --------------- */
.btPanier
{
  width:8.3rem;
  height:2.3rem;
  background-color:black;
  border-radius:7px;
  border-width:thin;
  color:white;
  text-decoration:none;

}

.btPanier:hover {

  background-color:darkcyan;
  color:white;

}
.btPanierFinal
{
  
  width:5.3rem;
  height:2.3rem;
  /* border-style:solid;
  border-color:green; */
  border-radius:7px;
  border-width:thin;
  background-color: red;
  text-decoration:none;
  color:white;

}

.btPanierFinal:hover {

  background-color:darkcyan;
  color:white;

}

@media only screen and (max-device-width: 768px) {

    .textArt {
      font-size:xx-large!important;
    }

    .ttre {
      font-size:5rem!important;
    }

    .ttreT {
      font-size:3rem!important;
    }

    .accroche {
      font-size:2rem!important;
    }

    .gif {width:65px!important;}

    .categoryImage {

      width:25rem!important;  
      height:25rem!important;  
    }

    .divImgCat{
      height: 26rem!important;
      width:26rem!important;
      display:flex!important; 
      justify-content:center!important;
    
  }

  /* image de la liste des thé par categorie */
  .imgsm{
    min-width:35rem!important;
  }
  /* bouton detail pour smartphone */
  .detailSm {

    margin-top:7rem!important;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:2rem!important;
  }

  .detailImgSm {
    width:6rem!important;
    margin-top:2.5rem;
  }

  .gammeDetail {
    text-decoration:none!important;
    color:dodgerblue!important;
    font-size:3rem!important;
  } 

  .conditTxtSM {
    font-size:2.5rem;
  }
  .conditImgSM
  {
     min-width:5rem;
  }
  .stextArt {
    font-size:1.2rem!important;

  }
  .LprixHT { 
    font-size:large;
     
  }
  .LprixTTC { 
    font-size:small;
  }
  .prixHT {
    
    font-size:6rem!important;
    font-family:Segoe UI Semibold;
    font-weight:800;
   
  }
  .prixTTC {
    font-family:Segoe UI Semibold;
    font-weight:800;
    font-size:5rem!important;
    
  }
   

}

@media only screen and (min-device-width: 769px) {     
  .ttre {
    font-size:5rem!important; 
  }  

  .LprixHT { font-size:small;}
  .LprixTTC { font-size:x-small;}
  .prixHT {
    font-family:Segoe UI Semibold;
    font-weight:800;
    font-size:3rem;  
  }
  .prixTTC { 
    font-family:Segoe UI Semibold;
    font-weight:800;
    font-size:2rem;
  }

}


