body {background-color:white!important;}

.page-item.active .page-link {
  background-color:#769643;  
}
.page-link {
  color:darkgreen!important;
}

.card1 img {
  border-radius:7px;
}
.gif {width:35px;}

.detailImgSm {
 width:2rem!important;
}

.imRecetteSM {
   width:4rem;object-fit:cover;
}
.receTitre {
   font-size:medium; 

}
.rectext {
  font-size:small;line-height:12px;
}
.BioSM {
  width:3rem; 
 }
 .imRecoSM {
  width:3rem;object-fit:cover;
}

.textReco {
  font-size:medium;
}
/* Image de fond la fiche gamme (fiche produit) */
.fnd{
  
  background-image: url(/images/fond.jpg)!important;  
  background-repeat: no-repeat;
  background-size: cover ;
}
/* Couleur de la fiche de la gamme et opacité  */
.cont {
    opacity:0.7!important;
    background-color: white!important;
}
 
.fondcgv {
  background-color:rgb(238, 247, 237);
}

#box:hover {

  background-color:aqua!important;  
  border-radius:60%!important;  ;
  }
  #eye:hover {
    background-color:aqua!important;  
    border-radius:50%!important;  ;
    
    }
 
  #imcart:hover {
      
    background-color:cadetblue!important;  
    border-radius:7px!important;
      
  }
  .imChoice:hover
  {
    color:rgb(14, 17, 10)!important; 
    background-color: aquamarine;
    font-size:medium;
  }

 

  .ui-dialog-titlebar {
     color:red;
  }

  
.politiqueLien a {
  text-decoration: none;
  color:darkslategray;
  font-weight: bold;
  font-size: small;
}
.politiqueLien a:hover {
  color: lightseagreen;
  font-weight: bold;
}
.politiqueLien a:visited {
  color: lightblue;
}

  /* ------------------------------------------ */

  #fondInfos {
    background-image: url("/images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
  }
  
  .titreSurImage {
    color: white;
  }
  
  #fond {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchImg { 
    height:1.3rem;
    margin-top:1.rem
    
   }
  .searchButton {

    background-color:white!important;
    border:none;
    height:2rem;
    margin-left:-2.3rem ;
  }


  @media only screen and (min-width: 769px) {

     /* formulaires  */
     .formStyle {
       display:flex;
       flex-direction:row;
       justify-content:center;
     }
     .formSize {
      width:50%;

     }

    /* Pages presentation */
    #fond {
      background-image: url("/images/fond.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 55rem;
    }
    .imgServices {width:4.5rem;}

    #fndO{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(/images/pousse.jpg)!important;  
      background-repeat: no-repeat;
      background-size: cover ;
      height: 55rem;
    }
    #fndM{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(/images/business/gerant.jpg)!important;  
      background-repeat: no-repeat;
      background-size: cover ;
      height: 55rem;
     
    }

    .SearchField {
      min-width:35rem!important;
    
    }

    #fondA {
      background-image: url("/images/business/tea-etalage.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 8rem;
     
    }

    #fondA h1, #fndM h1 {
      font-size: 5rem;
      font-weight: bold;
      color: white;
      
    }

    #fondA div h2  {
      font-size: 2.1rem;
      font-weight: lighter;
      color: white;
      margin-top:1rem;
      background-color:black;
      border-radius:7px;
    }


    .cont2 {
      opacity:0.9!important;
      background-color: white!important;
      border-radius:7px;
      margin:5rem 10rem 5rem 10rem!important;
    }

    #fond h1, #fndM h1,#fndO h1 {
      font-size: 5rem;
      font-weight: bold;
      color: white;
    }
    #fond h3, #fndM h3, #fndO h3 {
      font-size: 3.1rem;
      font-weight: lighter;
      color: white;
      margin-top: -2rem;
      text-decoration: underline;
    }
  
    .titre2 {
      color: white;
      font-size: 2.7rem;
      background-color: black;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 0.8rem;
    }
    .titre3 {
      color: white;
      font-size: 2.7rem;
      background-color: black;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 0.8rem;
    }

    .imgEng1 {

      width:30rem!important;
      height:10rem!important;
      margin-top:2rem;

    }


    #fond .logoFond,#fndM .logoFond {
      width: 30rem !important;
    }

    #fond .logoFond,#fndO .logoFond {
      width: 30rem !important;
    }
  
    #fondInfos .logoFond2 {
      width: 50rem !important;
    }
    
    .detailGammeSepDroite {
      border-right-style:solid; 
      border-right-color:light-gray;
      border-right-width:thin
   }

   .LprixHT { font-size:small;}
   .LprixTTC { font-size:x-small;}
   .prixHT {
     font-family:Segoe UI Semibold;
     font-weight:800;
     font-size:3rem;  
   }
   .prixTTC { 
     font-family:Segoe UI Semibold;
     font-weight:800;
     font-size:2rem;
   }

  }
  @media only screen and (max-width: 768px) {
    
    /* Pages presentation */
    #fond {
      background-image: url("/images/fond.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  
      height: 30rem;
    }
    .imgsm{
      min-width:20rem;

    }
    .imgServices {width:6.5rem;}
   
    .imgEng1 {

      width:30rem!important;
      height:10rem!important;
      margin-top:2rem;

    }

    .detailSm {

      margin-top:2rem!important;
      display:flex;
      flex-direction:row;
      align-items:center;
      margin-bottom:2rem!important;
    }
    .detailImgSm {
      width:2rem!important;
     }
     
     .detailImgSm {
       width:2rem!important;
       margin-top:2rem;
     }
     

    #fndM {
      background-image: url(/images/business/gerant.jpg)!important;  
      background-repeat: no-repeat;
      background-size: cover;
      height: 30rem;
      text-align:center;
    }

    #fndO {
      background-image: url(/images/pousse.jpg)!important;  
      background-repeat: no-repeat;
      background-size: cover;
      height: 30rem;
      text-align:center;
    }
      
    #fondA {
      background-image: url("/images/business/tea-etalage.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 8rem;
     
    }

   
    #fondA h1, #fndM h1 {
      font-size: 5rem;
      font-weight: bold;
      color: white;
      
    }

    .SearchField { 
      height:1.8rem;
      margin-top:0rem;
      width:35rem!important;
     }

    .searchImg { 
      height:1.3rem;
      margin-top:1.rem
      
     }
    .searchButton {
  
      background-color:white!important;
      border:none;
      height:2rem;
      margin-left:-2.3rem ;
    }
  
  


    #fondA div h2  {
      font-size: 2.1rem;
      font-weight: lighter;
      color: white;
      margin-top:1rem;
      background-color:black;
      border-radius:7px;
     
    }

    .SearchField {
      min-width:25rem!important;
    
    }

    .cont2 {
      opacity:0.9!important;
      background-color: white!important;
      border-radius:7px;
          
    }

    #fndM h1, #fndO h1  {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      text-align:center;
      padding-top:1rem;
      
    }
    #fndM h3,#fndO h3 {
      font-weight: lighter;
      color: white;
      font-size: 1.2rem;
      margin-top: -1rem;
      text-decoration: underline;
      text-align:center;
    }

    #fond h1  {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      margin-top: 1rem;
    }
  
    #fond h3 {
      font-weight: lighter;
      color: white;
      font-size: 1.2rem;
      margin-top: -1rem;
      text-decoration: underline;
    }
    .titre2 {
      color: white;
      font-size: 1.4rem;
      background-color: black;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.2rem;
      padding-bottom: 0.4rem;
    }
    .titre3 {
      color: white;
      font-size: 1rem;
      background-color: black;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 0.8rem;
      margin:0.5rem;
    }
    .accroche {
      font-size: 1.2rem;
      font-weight: lighter;
      color:rgb(3, 51, 51)!important;
    }
  
    #fond .logoFond {
      width: 17rem !important;
    }

    #fndM .logoFond,#fndO .logoFond {
      width: 17rem !important;
      }

    .blkInfo img {
      width: 5rem !important;
      object-fit: cover;
    }
  
    .infos p {
      font-size: small !important;
      color: black !important;
    }
    .infos H5 {
      text-align: center;
      color: black !important;
    }
    .infos H6 {
      font-size: medium !important;
      font-weight: 300px;
      color: black !important;
    }

    .detailGammeSepDescr {
      border-top-style:solid; 
      border-top-color:light-gray;
      border-top-width:thin;  
   }
    
    .LprixHT { font-size:small;}
    .LprixTTC { font-size:x-small;}
    .prixHT {
      font-family:Segoe UI Semibold;
      font-weight:800;
      font-size:3rem;  
    }
    .prixTTC { 
      font-family:Segoe UI Semibold;
      font-weight:800;
      font-size:2rem;
    }

  }

  /* ------------Liste des categories---------------------------- */

  .categoryBlock {

    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  .categoryText {
    width:90%;
    display:flex; 
    justify-content:start;
    flex-direction:column;  
  }
  .categoryImage{
    object-fit:cover;
    border-radius:60%;
    height:12rem;
    width:12rem;
  }
  .categoryImage:hover{
      border-color:chartreuse;
      border-style:solid;
      border-width:thick;
  }
  .categoryDescription {
    display:flex;
    flex-direction:row;
    justify-content:center;
  }

  .categoryMainImage
  {
   border-radius:8px;
    
  }
 
  .articlesImage{
    object-fit:cover;
    border-radius:7px;
    height:14rem;
    width:14rem;
  }

 /* ------------Liste gamme---------------------------- */ 

 .gammeDetail {
      text-decoration:none!important;
      color:dodgerblue!important;
      font-size:larger;
      margin-top:2rem;
      
 }
 .gammeDetail:hover {
   
   font-weight: bolder;
 }

 /* -------------- detail produit de gamme -------------------- */

 .detailColor
 {
   background-color:ghostwhite;
 }  
  

 .detailGammeSepBasse {
   border-bottom-style:solid; 
   border-bottom-color:light-gray; 
   border-bottom-width:thin;
 }

 .detailGammeSepHaute {
   border-top-style:solid; 
   border-top-color:light-gray;
   border-top-width:thin;
}

.detailGammeReco { 
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  
}
.detailGammeinterligneReco
{
  line-height:3px!important;
  margin-top:2rem;
}

.detailGammeImg {
  width:20rem;
  object-fit:cover;
}
/* ----------------- panier --------------- */
.btPanier
{
  width:8.3rem;
  height:2.3rem;
  background-color:black;
  border-radius:7px;
  border-width:thin;
  color:white;
  text-decoration:none;

}

.btPanier:hover {

  background-color:darkcyan;
  color:white;

}
.btPanierFinal
{
  
  width:5.3rem;
  height:2.3rem;
  /* border-style:solid;
  border-color:green; */
  border-radius:7px;
  border-width:thin;
  background-color: red;
  text-decoration:none;
  color:white;

}

.btPanier {
   
  color:white!important;
  height:3rem!important;
  padding:0.5em!important;
  width:75%!important;
   
}

.btPanierFinal:hover {

  background-color:darkcyan;
  color:white;

}

@media only screen and (max-device-width: 768px) {

     /* formulaires  */
     .formStyle {
      display:flex;
      flex-direction:row;
      justify-content:center;
    }

    .imgEng {

      width:10rem!important;
      height:10rem!important;
    }
    .imgEng1 {

      width:22rem!important;
      height:7rem!important;

    }
    .listeImg{

      border-radius:7px;
      display:flex;
      width:3rem!important;

    }

    .imgEng2 {

      width:10rem!important;
      height:7rem!important;
      margin-top:2rem;
    }

    .accroche2 {font-size:1.6em!important;}
    .textArt1 {font-size:1.5em!important;}

    .formSize {
     width:100%;

    }
    .inputStyle {
       height:4rem;
       font-size:2.5rem;
    }
    .form-label{
      height:4rem;
      font-size:2rem;
    }
    .form-control{
      height:4rem;
      font-size:2rem;
    }
   
    .inputStyle2 {
      height:4rem;
      width:4rem;
      font-size:2.5rem;
      margin-left:-1.2rem!important;
     
      
   }
    .buttonStyle
    {
      height:4.5rem;
      width : 18rem;
      font-size:2.5rem;
      padding:0.1rem;
    }

    .buttonStyleC
    {
      height:4.5rem;
      width : 18rem;
      font-size:2.5rem;
      padding:0.1rem;
         
    }

    .lineh {
      line-height: 15px !important;;
     }


    .formLink {
      font-size:1.8rem;
    }

    .page-link {
       font-size:3rem;
    } 

 

    .page-link:hover {
      background-color:aquamarine;
    }


     /* ******************* */
    .textArt {
      font-size:xx-large!important;
    }
    .textArt2 {
      font-size:xx-large!important;
      margin-left:2rem!important;
      margin-top:1rem!important;
    }

    .ttre {
      font-size:5rem!important;
    }

    .ttreT {
      font-size:3rem!important;
    }
    .ttreT2 {
      font-size:4rem!important;
    }

    .accroche {
      font-size:2rem!important;
    }

    .gif {width:65px!important;}

    .categoryImage {

      width:25rem!important;  
      height:25rem!important;  
    }

    .articlesImage {
      width:50rem;
      height:30rem;
      margin-bottom:2rem
    }

    .SearchField { 
      height:2.5rem;
      margin-top:0rem;
      width:60rem!important;
     }

    .searchImg { 
      height:2.2rem;
      margin-top:0.8rem
      
     }
    .searchButton {
  
      background-color:white!important;
      border:none;
      height:3.6rem;
      margin-left:-3.4rem ;
    }

    .artTitre {display:none;}
    .ArticleDescription {
     
      margin-top:4rem;
      width:85!important;
     
      text-align:center;

    }

    .divImgCat{
      height: 26rem!important;
      width:26rem!important;
      display:flex!important; 
      justify-content:center!important;
    
  }

  /* image de la liste des thé par categorie */
  .imgsm{
    min-width:35rem!important;
  }
  /* bouton detail pour smartphone */
  .detailSm {

    margin-top:7rem!important;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:2rem!important;
  }

  .detailImgSm {
    width:6rem!important;
    margin-top:2.5rem;
  }

  .gammeDetail {
    text-decoration:none!important;
    color:dodgerblue!important;
    font-size:3rem!important;
  } 

  .conditTxtSM {
    font-size:2.5rem;
  }
  .conditImgSM
  {
     min-width:8rem;
  }
  .stextArt {
    font-size:1.2rem!important;

  }
  .LprixHT { 
    font-size:x-large;
     
  }
  .LprixTTC { 
    font-size:x-large;
  }
  .prixHT {
    
    font-size:6rem!important;
    font-family:Segoe UI Semibold;
    font-weight:800;
   
  }
  .prixTTC {
    font-family:Segoe UI Semibold;
    font-weight:800;
    font-size:5rem!important;
    
  }
  .connectNotif {
    font-size:xx-large;
    padding-bottom:1rem;

  }
  .btPanier {
   
    color:white!important;
    height:5rem!important;
    padding:1rem!important;
    width:75%!important;
    font-size:xx-large;
  }

  .imRecetteSM {

    width:7rem!important;
    
  }

  .imABSM {

    width:4rem!important;
    
  }
  .receTitre {
   font-size:2rem;
   font-weight: bolder;
  }
  .recText {
    font-size:x-large; 
    max-width: 35rem;
  }
  .BioSM {
    height:7rem!important; 
    width:7rem!important; 
  }
  .BioTitre {
    font-size:2rem;
    font-weight: bolder;
  }
  .imRecoSM {
    width:6rem;
    height:6rem; 
    object-fit:cover;
  }
  .textReco {
    font-size:x-large;
  }
}

@media only screen and (min-device-width: 769px) {     
  .ttre {
    font-size:5rem!important; 
  }  

  .LprixHT { font-size:small;}
  .LprixTTC { font-size:x-small;}
  .prixHT {
    font-family:Segoe UI Semibold;
    font-weight:800;
    font-size:3rem;  
  }
  .prixTTC { 
    font-family:Segoe UI Semibold;
    font-weight:800;
    font-size:2rem;
  }


  .imgEng {
    width:5rem!important;
    height:5rem!important;
  }
  .btPanier {
    color:white!important;
    height:3rem!important;
    padding:0.5em!important;
    width:75%!important;
  }
  

}

.formTemplate {
  width:3rem;
  margin-top:1rem;
  margin-left:1rem;
 }
.formtemplateImg {
  margin-top:-1rem;
  margin-right:2rem;
  width:3rem;
  height:3rem;
  object-fit:cover;
}
.formtemplateA{
 height:max;
 text-decoration:none;
 font-size:small;
}
.margin2 {
  margin: 2rem 0 1rem 0;
}
.height3 {
  height:3rem;
}
.height24 { 
  height:2.4rem;
}
.Width8 {
  width:8rem;
}
.maxWidth5 {
  max-width:5rem;
}
.listeImg
{
  border-radius:7px;
  display:flex;
  width:5rem;
 
}

.condImg {
  border-radius:8px;
  display:flex;
  width:5rem!;

}
.formRef {
 
  display:flex;
  flex-direction:row;
  align-items:center;
}

.lineh {
   line-height:8px;
}
