{% extends 'base.html.twig'%}


{% block title 'Conditions générales de vente' %}
  
   

{% block body %}
<div class="container"  >
         <div class="infos fondcgv py-4"  >
                <div class="mx-4 px-4 cont2">
                 <br/>
                        <section class="my-2">
                            <h3 class="mx-2 text-success d-flex justify-content-center my-3 titreConfident ">Conditions Générales de Vente</h3>
                              <div style="height:5px; "class="W-25 bg-success"></div>    
                        </section> 
                        <h6 class="mt-3 px-2 text-success">Modes de livraison disponibles</h6>
                        <div class="my-4 mx-4 d-flex justify-content-around"> 
                       
                                
                                 <img src="images\modepaiement\colissimo.png" style="width:15rem;height:3rem" >    
                                 <img src="images\modepaiement\mr.png" style="width:3rem;height:3rem" > 
                                 
                                      
                        </div>
                         <hr>
                         <h6 class="mt-2 px-2 text-success">Modes de paiement disponibles</h6>
                         <div class="my-4  d-flex justify-content-around align-items-center"> 
                          
                                 <img src="images\modepaiement\cb2.jpg" style="width:6rem;height:2.8rem" >  
                                 <img src="images\modepaiement\master.png" style="width:5rem;height:3rem" >    
                                 <img src="images\modepaiement\paypal.png" style="width:7rem;height:5rem" > 
                                      
                           </div>   
                        <hr>
                        <div class=" my-3 mx-3 infos pb-2">
                              <h4 class="text-success">Article 1  - Application et opposabilité des Conditions Générales de Vente</h4>
                                <p>Les présentes Conditions Générales de Vente (ci-après "les CGV") régissent exclusivement la vente de nos produits sur le site www.e-tea.fr (ci-après "le Site").</p>
                                <p>En conséquence, le fait d'acheter nos produits implique l'adhésion entière et sans réserve de l'acheteur aux CGV. Aussi, la validation par l'acheteur de sa commande sur le Site vaut acceptation par celui-ci des CGV.></p>
                                <p>Sauf preuve contraire, les données enregistrées sur le Site constituent la preuve de l'ensemble des transactions passées entre notre société et l'acheteur.</p>
                                <p>Le fait pour notre société de ne pas se prévaloir à un moment donné de l'une quelconque des clauses des présentes CGV ne pourra en aucun cas être interprété comme valant renonciation, par notre société, à se prévaloir ultérieurement de l'une quelconque desdites clauses. De même, toute condition, contraire aux CGV, demandée par l'acheteur non acceptée par notre société nous est inopposable.</p>
                                <p><strong>Responsabilité limitée concernant le contenu du site </strong></p>
                                <hr>
                                <h4 class="text-success">Article 2 - Commandes</h4>
                                <p>L'acheteur n'a la possibilité de passer sa commande en ligne que s'il a rempli le formulaire de commande figurant sur le Site.</p>
                                <p>Les commandes passées sur le Site sont enregistrées dès la validation de la commande par l'acheteur (en cliquant sur le bouton "Validez").</p>
                                <p>Toutefois, la commande ne devient définitive que lorsqu'elle a fait l'objet d'une confirmation par notre société.</p>
                                <p>Les informations contractuelles et les CGV sont présentées sur le Site en langue française et feront l'objet d'une confirmation par notre société au plus tard au moment de la livraison des produits.</p>
                                <p>Notre société se réserve le droit d'annuler ou de refuser toute commande d'un acheteur avec lequel il existerait un litige relatif au paiement d'une commande antérieure.</p>
                                <hr>
                                <h4 class="text-success">Article 3 - Disponibilité et quantité commandée</h4>
                                <p>Nos offres de produits et leurs prix sont valables tant qu'ils sont visibles sur notre Site, dans la limite des stocks disponibles.</p>
                                <p>Dans l'éventualité d'une indisponibilité d'un ou plusieurs produits après la passation de la commande de l'acheteur, sauf dans les cas de force majeure prévue à l'article 14 ci-dessous, l'acheteur en sera averti immédiatement et aura la possibilité d'annuler sa commande. Le remboursement des sommes versées s'effectuera alors par crédit sur le compte bancaire de l'acheteur ou par chèque bancaire adressé à son nom à l'adresse de facturation, dans les 30 jours à compter du paiement du prix par l'acheteur.</p>
                                <hr>
                                <h4 class="text-success">Article 4 - Prix - Transfert de propriété</h4>
                                <p>Les prix des produits sont indiqués en euros et comprennent les frais de manutention, d'emballage et de conservation des produits mais pas les frais d'expédition.</p>
                                <p>Pour la France métropolitaine et les pays de l'Union Européenne, les prix sont toutes taxes comprises (TTC), la TVA appliquée étant celle du jour de la commande. Tout changement de taux de TVA sera répercuté automatiquement sur le prix des produits.</p>
                                <p>Pour les autres pays, les prix s'entendent hors TVA.</p>
                                <p>Les frais d'expédition des produits dépendent de leur lieu de livraison, à savoir :</p>
                                <h6>Livraison en France métropolitaine :</h6>
                                <p>- livraison standard à l'adresse qu'il prendra soin d'indiquer, avec une remise en boite aux lettres sans signature moyennant une participation de l'acheteur de 4,9 euros TTC aux frais d'expédition. A partir de 200 €HT d'achat (remises déduites) , ce mode de livraison est offert.</p>
                                <p>- livraison standard à l'adresse qu'il prendra soin d'indiquer, avec une remise contre signature moyennant une participation de l'acheteur de 5,9 euros TTC aux frais d'expédition. A partir de 200 €HT d'achat (remises déduites) , ce mode de livraison est offert.</p>
                                <p>- livraison standard à l'adresse qu'il prendra soin d'indiquer, avec une remise contre signature moyennant une participation de l'acheteur de 5,9 euros TTC aux frais d'expédition. A partir de 200 €HT d'achat (remises déduites) , ce mode de livraison est offert.</p>
                                <p>- livraison standard en point relais (commerçant, bureau de poste ou espace cytissimo, disponible uniquement sur le site internet PLF Distribution) qu'il prendra soin d'indiquer lors de sa commande sur le site internet de PLF Distribution uniquement, moyennant une participation de l'acheteur de 4,5 euros TTC aux frais d'expédition. A partir de 200 €HT d'achat (remises déduites) , ce mode de livraison est offert. L'acheteur sera informé par SMS et par courriel lors de la mise à disposition de sa commande en point relais. En cas de surcharge du nombre de colis ou de fermeture exceptionnelle du point relais commerçant sélectionné, la livraison du colis sera effectuée dans le relais colis le plus proche. </p>
                                <p>- livraison express à l'adresse qu'il prendra soin d'indiquer avec une remise contre signature moyennant une participation de l'acheteur de 11,5 euros TTC aux frais d'expédition. </p>
                                <h6>Livraison dans les DOM - TOM et étranger :</h6>
                                <p>
                                    Toute livraison dans les DOM - TOM et à l'étranger est systématiquement traitée en "livraison internationale" selon les tarifs postaux en vigueur au jour de la passation de la commande.
                                    Concernant les livraisons à destination des DOM TOM et des pays hors de l'Union européenne, des taxes de douane ou d'importation peuvent s'ajouter au prix de nos produits et restent à la charge de l'acheteur. Il est donc du ressort de l'acheteur de s'informer de leur montant auprès de son bureau de douane local.
                                </p>
                                <p>Notre société se réserve le droit de modifier le prix des produits à tout moment. Toutefois, les produits seront facturés sur la base des tarifs en vigueur au moment de la passation de la commande par l'acheteur.</p>
                                <p> Les produits demeurent la propriété de notre société jusqu'au complet paiement de leur prix à notre société.</p>
                                <p>Les remises ne sont pas cumulables.</p>
                                <hr>
                                <h4 class="text-success">Article 5 - Livraison </h4>

                                <p>Les produits sont livrés à l'adresse de livraison indiquée par l'acheteur lors de sa commande.L'acheteur est tenu d'effectuer toutes les diligences nécessaires à la bonne réalisation de la livraison. A ce titre, il est tenu de fournir l'ensemble des informations indispensables à la livraison (adresse exacte, code de porte etc.). A défaut, notre société ne pourra être tenue responsable d'un défaut de livraison. Dans un tel cas, les produits seront retournés à l'entrepôt de notre société et l'acheteur devra prendre contact avec notre Service Clients dont les coordonnées sont indiquées à l'article 10 afin de prendre connaissance des démarches à suivre pour récupérer les produits commandés. Notre société décline toute responsabilité quant au délai de récupération par l'acheteur de ses produits.</p>

                                <p>
                                    Les commandes sont traitées le lendemain du jour de leur enregistrement.
                                    Les commandes passées le samedi ou le dimanche sont traitées le lundi suivant.
                                    Les commandes passées un jour férié sont traitées le jour ouvré suivant.
                                    Si la totalité de la commande n'est pas disponible, notre société prendra contact avec l'acheteur pour lui proposer de remplacer le ou les produits indisponibles par un ou d'autres produits. En cas de refus de l'acheteur, notre société procèdera soit au remboursement des produits indisponibles soit à des envois fractionnés, selon le choix de l'acheteur. Pour le solde de la commande, les frais d'envoi ne seront pas facturés.
                                </p>
                                <p>
                                    Les produits sont livrés :

                                    soit en So Colissimo avec remise (sans signature) en boite aux lettres pour les commandes devant être livrées en France métropolitaine. L'expédition de la commande se fera dans les 2 jours ouvrables suivant son enregistrement. Le délai généralement constaté pour la livraison des produits est de 1 à 3 jours ouvrés après le traitement et l'expédition du colis par notre société (délai normal d'acheminement donné par la Poste). Il est possible de retrouver un avis de passage lorsque le colis est trop volumineux pour être déposé en boite aux lettres, il indiquera le bureau de Poste qui conservera le colis pendant 2 semaines.
                                    soit en So Colissimo suivi avec remise contre signature pour les commandes devant être livrées en France métropolitaine, ainsi que dans les DOM TOM et à l'étranger. Les commandes sont remises en mains propres à l'acheteur (contre signature et sur présentation d'un justificatif d'identité). L'expédition de la commande se fera dans un délai de 2 jours ouvrables après son enregistrement. Pour la France Métropolitaine, le délai est généralement de 1 à 3 jours ouvrés
                                    après le traitement et l'expédition du colis par notre société (délai normal d'acheminement donné par la Poste). Si l'acheteur est absent lors de la livraison, le colis est conservé pendant 2 semaines par le bureau de Poste dont l'acheteur dépend. Pour les DOM TOM et l'étranger, les délais de livraison locaux varient d'un pays à un autre.
                                </p>
                                <p>soit en Point Relais Mondial Relay uniquement sur le site internet PLF Disribution (commerçant, bureau de poste et espace Cytissimo) pour les commandes devant être livrées en France métropolitaine. L'expédition de la commande se fera dans les 2 jours ouvrables suivant son enregistrement. Le délai généralement constaté pour la livraison des produits est de 1 à 3 jours ouvrés après le traitement et l'expédition du colis par notre société (délai normal d'acheminement donné par la Poste). L'acheteur recevra un SMS et un courriel lui confirmant la mise à disposition de sa commande au point relais qu'il aura préalablement choisi lors de sa commande. La commande sera conservée pendant 10 jours ouvrables maximum par le relais colis. Pour récupérer la commande, l'acheteur devra présenter le bon de retrait préalablement transmis par SoColissimo dans le SMS et le courriel de notification client.</p>
                                <p>soit en Colissimo International pour les commandes devant être livrées hors Union Européenne. L'expédition de la commande se fera dans les 2 jours ouvrables suivant son enregistrement. Le délai généralement constaté pour la livraison varie en fonction des pays destinataires entre 3 et 12 jours après le traitement et l'expédition du colis par notre société (délai normal d'acheminement donné par la Poste). </p>
                                <p>soit en Chronopost 13H pour les commandes devant etre livrées en France métropolitaine. L'expédition de la commande se fera le lendemain (jours ouvrables uniquement) de son enregistrement. Le délai garanti par Chronopost est de 24 heures sur la France métropolitaine (samedi inclus et jours fériés). Les commandes passées en ligne avant 12H, du lundi au vendredi, sont expédiées le jour-même et livrées le lendemain avant 13H. La commande sera remise en main propre contre signature et représentée en cas d'absence avec une confirmation SMS de l'heure de relivraison.</p>
                                <p>soit en Chronopost International pour les commandes devant etre livrées dans les pays de l'Union Européenne. L'expédition de la commande se fera le lendemain (jours ouvrables uniquement) de son enregistrement. Le délai généralement constaté varie entre 3 et 8 jours en fonction des pays . La commande sera remise en main propre contre signature.</p>
                                <p>
                                    En cas de paiement par chèque, la commande ne sera traitée qu'à réception du chèque. En conséquence, le délai de livraison commencera à courir à compter de la réception du chèque et peut donc être modifié par rapport à celui mentionné au jour de la passation de la commande.
                                    Si les produits n'ont pas été livrés dans un délai de 11 jours pour la France Métropolitaine et dans un délai de 21 jours pour les DOM TOM et l'étranger, sauf dans les cas de force majeure prévue à l'article 14 ci-dessous, la vente pourra être annulée, par lettre recommandée avec demande d'avis de réception adressée par l'acheteur au Service Clients dont les coordonnées sont indiquées à l'article 10 ci-après. L'acheteur pourra alors obtenir restitution de son paiement dans les conditions prévues à l'article 8 ci-après, à l'exclusion de toute autre indemnité ou dommages-intérêts.
                                </p>
                                <p>De même, si les produits ont été expédiés après les délais maximum visés à l'alinéa ci-dessus, l'acheteur pourra également annuler sa commande et demander le remboursement des produits retournés complets, dans leur état d'origine accompagnés de la facture d'achat, ainsi que des frais de retour.</p>
                                <p>En toute hypothèse, la livraison dans les délais prévus ne peut intervenir que si l'acheteur est à jour de ses paiements envers notre société.</p>

                                
                                <h6>Problèmes de livraisons</h6>
                                <p>
                                    L'acheteur est tenu de vérifier l'état de l'emballage et la conformité des produits livrés dès que le colis lui est remis par le transporteur ou retiré dans un point relais.
                                    Toute réclamation pour non-conformité des produits livrés doit être notifiée par l'acheteur, par lettre recommandée avec demande d'avis de réception, dans les 72 heures suivant sa réception tant au transporteur dont l'adresse figure sur le bon de livraison qu'au Service Clients de notre société. Un courrier électronique pourra également nous être adressé à l'adresse suivante :
                                    <strong>contact@e-tea.fr</strong>.
                                </p>
                                <p>
                                    Toute réclamation sur les vices apparents des produits livrés doit être notifiée par l'acheteur dans les 8 jours suivant leur réception en adressant une lettre recommandée avec accusé de réception au Service Clients de notre société ou un courrier électronique à l'adresse suivante :
                                    <strong>contact@e-tea.fr</strong>.
                                </p>
                                <p>Il appartiendra à l'acheteur de fournir à notre société toute justification nécessaire à sa réclamation.</p>
                                <p>
                                    Dans le cas où la réclamation serait acceptée par notre société, l'acheteur pourra bénéficier des conditions de remboursement ou d'échange prévues à l'article 13 ci-dessous.
                                    A défaut d'une réclamation effectuée dans les délais précités, les produits seront réputés conformes et acceptés par l'acheteur.
                                </p>
                                <h6>Suivi de commande</h6>
                                <p>Dès que notre société procède à l'envoi des produits commandés, un courrier électronique est adressé à l'acheteur.</p>
                                <p>Il est indiqué à l'acheteur le numéro de son colis et un lien lui est proposé vers le site internet de suivi de sa livraison.</p>
                                <hr>
                                <H4 class="text-success">Article 6 - Paiement</H4>

                                <p>soit par carte bancaire : Visa, MasterCard et autres cartes bleues. Le débit de la carte est effectué dès la prise de commande.</p>
                                <p>soit par compte paypal</p>
                                <hr>
                                <h4 class="text-success">Article 7 - Remboursement</h4>

                                <p>Le remboursement des produits dans les hypothèses visées aux articles 5, 7 et 13 sera effectué dans un délai inférieur ou égal à 14 jours suivant la réception des produits retournés par l’acheteur.</p>
                                <hr>
                                <h4 class="text-success">Article 8 - Sécurisation</h4>
                                <p>Le Site fait l'objet d'un système de sécurisation. Notre société a ainsi adopté le procédé de cryptage SSL afin de protéger le plus efficacement possible toutes les données sensibles liées aux moyens de paiement. Le paiement des commandes s'effectue par l'intermédiaire de la banque CIC.</p>
                                 <hr>
                                <h4 class="text-success">Article 9 - Service clientèle</h4>

                                <p>
                                    Pour toute information ou question sur les produits, notre Service Clients est à votre disposition du lundi au samedi de 10h à 18h :<br />
                                    <strong> Tél: 01 64 39 41 20</strong> (numéro non surtaxé depuis un poste fixe) <br /> ou par email :  <strong>contact@e-tea.fr</strong>.
                                </p>
                                <hr>
                                <h4 class="text-success">Article 10 - Propriété intellectuelle</h4>
                                <p>Tous les visuels, photos, textes, commentaires, ouvrages, illustrations, dessins et images reproduits sur le Site font l'objet de droits d'auteur et de droits de propriété intellectuelle pour le monde entier. Toute reproduction totale ou partielle du Site est donc strictement interdite.</p>
                                 <hr>
                                <h4 class="text-success">Article 11 Responsabilité</h4>
                                <p>
                                    Les produits proposés sur le Site sont conforme à la législation française en vigueur et aux normes applicables en France.
                                    Les photographies des produits sur le Site sont communiquées à titre illustratif et n'ont donc aucune valeur contractuelle. L'acheteur est invité à se reporter au descriptif de chaque Produit figurant sur le Site pour en connaître les caractéristiques et en cas de doute ou si des renseignements complémentaires sont souhaités, à contacter le Service Clients dont les coordonnées figurent à l'article 9 ci-dessus.
                                </p>
                                <hr>
                                <h4 class="text-success">Article 12 Garanties</h4>
                                <p>
                                    L'acheteur bénéficie des garanties légales de conformité du bien au contrat et des vices cachés conformément aux dispositions légales précisées en annexe A des présentes CGV.
                                    Ainsi, notre société s'engage, au choix de l'acheteur, à lui rembourser ou à lui échanger, les produits apparemment défectueux ou ne correspondant pas à sa commande.
                                    Les produits doivent nous être retournés neufs, complets, dans leur état d'origine (emballage, accessoires ...) et accompagnés de l'original de la facture d'achat.
                                    Aucun produit ne pourra être remboursé ou échangé avant d'avoir été réexpédié et réceptionné par notre société.
                                </p>
                                <p>
                                    Il appartiendra à l'acheteur de fournir à notre société toute justification quant à la réalité des anomalies ou vices.
                                    Il s'abstiendra d'intervenir lui-même ou de faire intervenir un tiers à cette fin.
                                </p>
                                <hr>
                                <h4 class="text-success">Article 13 - Force majeure</h4>
                                <p>Aucune des deux parties n'aura failli à ses obligations contractuelles, dans la mesure où leur exécution sera retardée, entravée ou empêchée par un cas fortuit ou un cas de force majeure. Sera considéré comme cas fortuit ou de force majeure tout fait ou circonstance irrésistible, extérieur aux parties, imprévisible, inévitable, indépendant de la volonté des parties et qui ne pourra être empêché par ces dernières, malgré tous les efforts raisonnablement possibles. La partie concernée par de telles circonstances en avisera l'autre dans les 7 jours ouvrables suivant la date à laquelle elle en aura eu connaissance.</p>
                                <p>Les deux parties se rapprocheront alors, dans un délai de 30 jours pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles l'exécution de la commande sera poursuivie. Si le cas fortuit ou le cas de force majeure a une durée supérieure à 60 jours, la commande de produits pourra être résiliée par la partie lésée. De façon expresse, sont considérés comme cas fortuits ou cas de force majeure outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français : le blocage des moyens de transports, de livraison ou d'approvisionnements, les tremblements de terre, incendies, tempêtes, inondations, la foudre, l'arrêt des réseaux de télécommunication.</p>
                                <hr>
                                <h4 class="text-success">Article 14 - Droit applicable - Litiges</h4>
                                <p>Les presentes CGV ont ete rédigées en langue française qui sera considérée, en toute hypothese, comme la langue unique des parties. L'interpretation et l'exécution des présentes CGV, ainsi que tous les actes qui en seraient la suite ou la conséquence, seront soumis au droit français et ce, quels que soient le lieu de livraison des produits, le lieu de passation de commande, la nationalité de l'acheteur et son adresse. Tout litige avec des professionnels et/ou des commercants résultant des présentes CGV et/ou de toute commande qui sera adressée a notre societe et/ou de toute vente réalisée par notre societe sera soumis a la competence exclusive du tribunal de commerce de Paris, meme en cas d'appel en garantie ou de pluralité de défendeurs ou de demande incidente. </p>
                                
  
                        </div>
                           
          </div>
       </div> 
     </div>
  
{% endblock %}