{% extends 'base.html.twig' %}

{% block body %}
    <h1>Changer de mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit" class="btn">Modifier mot de passe</button>
    {{ form_end(form) }}
    
{% endblock %}