{% extends 'base.html.twig'%}


{% block title 'Mentions Légales' %}
  
 {# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'consultez ici les mentions légales '|trans}}" />
{% endblock %}   

{% block body %}
<div class="container-flex"  >
         <div class="infos   py-4"  >
                <div class="mx-4 px-4 ">
 <section>
     <br/>
     <h2 class="titre d-flex justify-content-center text-success ttreT ">   Mentions légales</h2><br>
     <div style="height:5px; "class="W-25 bg-success"></div>         
                
 </section> 
  <div class="  py-4 infos ">
 
        <p class="textArt">Le site <strong>www.plfdistribution.fr</strong> sur lequel vous naviguez a pour nom commercial : <strong>PLF Distribution :</strong></p>
                   
                   <div class="d-flex justify-content-center">
                      <div class="text-start">
                        <strong class="textArt text-center">PLF SAS</strong>
                        <p class="textArt"><strong>140 rue gabriel PERI <br />91760 ITTEVILLE<br />France</strong></p>
                   
                         <p class="textArt">Fondateur et dirigant :<strong> Gilles VALOT </strong><br />Idée originale: <strong>Catherine VALOT</strong></p>              
                      </div>
                     </div>

<hr>
                    <p class="textArt"><strong class="accroche text-success">Responsabilité limitée concernant le contenu du site </strong></p>

                    <p class="textArt">Toutes les informations de ce site sans exceptions, telles que articles, commentaires, vidéos, visuels, conseils, etc..  ne sont données qu'à titre exclusivement informatif, et ne sauraient en aucun cas, constituer un document contractuel pouvant appuyer une action en justice.  </p>
                    <p class="textArt">La société <strong>PLF SAS</strong> ne saurait être tenue pour responsable de tout dommage, qu'il soit direct ou indirect, et quelqu'en soit l'origine ou la cause, la nature et les conséquences, qui résulteraient de l'usage du site:</p>
                    <p class="textArt">- A l'accés au site</p>
                    <p class="textArt">- A son utilisation</p>
                    <p class="textArt">- A son impossibilité d'y accéder</p>
                    <p class="textArt">- A tout dommage résultant de son utilisation de manière directe ou indirecte</p>

                    <p class="textArt">La société <strong>PLF SAS</strong> se réserve le droit de modifier le contenu du site à sa propre convenance.</p>
<hr>
                    <p class="textArt"><strong class="text-success">Limitation de l'usage d'un lien hypertexte vers les sites de la société PLF SAS </strong></p>

                    <p class="textArt">La mise en place d'un lien hypertexte n'est pas autorisée, sauf accord préalable de <strong> PLF SAS </strong>.</p>
                    <p class="textArt"> Dans le cas d'un accord avec<strong> PLF SAS </strong>:<p>
                    <p class="textArt">Compte tenu du fait que ces liens ne sont pas sous le contrôle et la supervision de <strong> PLF SAS </strong>, celle ci décline toute responsabilité en ce qui concerne les sites contenant ces liens, que ce soit le contenu ou l'utilisation.</p>

<hr>
                    <p class="textArt"><strong class="text-success">Propriété intellectuelle du site</strong></p>
                    <p class="textArt">Aucune reproduction, modification,incorporation ou adaptation partielle ou intégrale des éléments de ce site ne peut se faire sans l'autorisation préalable de <strong> LV vitalité SAS </strong>.</p>
                    <p class="textArt">Toute exploitation commerciale, représentation, utilisation n'est autorisée, à l'exception d'un accord préalable de <strong> PLF SAS </strong>.</p>
<hr>
                    <p class="accroche"><strong class="text-success">Protection des données</strong>

                    <p class="textArt">Conformémént à la loi 78-17 du 6 janvier 1978 relative à « l'informatique, aux fichiers et aux libertés » aux informations personnelles :</p>
                    <p class="textArt">Les données personnelles collectées dans lecadre d'une commande passée sur le site Internet, sont protégées, et exclusivement réservées à l'usage de notre personnel qui intervient sur la commande et son envoi.
                    <p class="textArt"> Vous disposez d'un droit d'accès, de modification, de rectification et de suppression de vos données personnelles, par simple courrier ou email:</p>

                    <div class="container">
                        <div class="media-container-row content">
                            <div class="col-md-12">
                                <p class="textArt"> Par courrier:<br /></p>
                                <strong style="width:7rem" class="textArt">140 rue gabriel PERI, <br />91760 ITTEVILLE<br />France</strong>
                            </div>
                            <div class="col-md-12"> <br>
                                <p class="textArt">Par Email:<br /><strong>Contact@e-tea.fr</strong></p>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
<hr>
                        <p class="textArt"><strong class="text-success accroche">Modifications, interruption et résiliation</strong></p>
                        <p class="textArt">la société <strong>PLF SAS</strong>  se réserve le droit de modifier ou supprimer certaines prestations du site Web, ou d'en ajouter de nouvelles, partiellement ou en totalité.</p>
                        <p class="textArt">Elle s'autorise aussi à interrompre momentanément ou définitivement le site pour diverses raisons (Maintenance ou autre raisons).</p>
                        <p class="textArt">Les mentions légales peuvent également être modifiées ou adaptées à tout moment.</p>

<hr>                        <p><strong class="text-success accroche">Clauses attributives de compétence</strong></p>
                        <p  class="textArt">Seuls les tribunaux français seront compétents en cas de litige.</p>

                                   
                </div>    
       </div>    
  </div>               
 </div>
             
  
{% endblock %}