{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container" >
        <section  id ="fond">
            <div id="blockTitre" >
            <h1>PLF DISTRIBUTION</h1>
            <h3>Votre grossiste en thés & infusions</h3>
            </div>
            <img class="logoFond" src="/images/menu/logo-fond2.svg" />
            <p class="titre2">Votre réussite est notre réussite</p>
        
      </section>
      <section class="bg-white">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                      <h1 class="card-title text-center ">PLF DISTRIBUTION :</h1>
                      <h2 class="accroche text-center">Tradition et respect de la nature</h2>
                     
                      <p class="textArt">Notre entreprise s'est construite au fil des années dans le monde rural,
                        en parfaite harmonie avec les producteurs, et dans le respect des valeurs 
                        de la terre. Après avoir acquis la confiance de nos partenaires, nous avons
                        su nous développer tout en conservant ce précieux héritage, et malgré les
                        contraintes du monde d'aujourd'hui. Nous nous efforçons donc de vous 
                        proposer le meilleur de la nature tout en répondant à vos attentes de 
                        résultats pour votre activité professionnelle. Notre modèle a été très 
                        largement éprouvé dans notre activité de grossiste en fruits et légumes, 
                        et autres produits agricoles, et maintenant dans le thé et les infusions. 
                        Bien que le thé soit le plus souvent produit dans des exploitations lointaines, 
                        nous recherchons aussi des producteurs français et en partulier pour les infusions 
                        et tisanes. Oui, s'approvisionner en circuit court c'est aussi possible avec le thé 
                        et les infusions (ou Rooibos).
                  </p>
                       
                </div>
                
            </div>
              <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card  mx-1" >
                  <img style="width:100%; "
                      src="/images/ferme2.jpg" 
                      class="imageCard" 
                      alt="image de la ferme"
                  >
        </div>
      </div>
  </section>
  <section class=" bg-white article">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                       
                      <h2 class="accroche text-center">Notre force : Une gamme de thés qui couvre toutes les tendances.</h2>
                     
                      <p class="textArt">Vous trouverez une grande variété de produits, des nouveautés tout au
                          long de l'année, des offres saisonnières, des producteurs de toute origine,
                          mais aussi des circuits courts.
                      </p>
                       
                </div>
                
            </div>
              <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                      <div class="row d-flex  mx-5   ">
                          <div class="col-6 col-md-4 col-lg-4 mt-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/the1.jpg" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                              </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-4 mt-4 ">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/the2.jpg" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                              </div>
                          </div>
                          <div class="col-6   col-md-4 col-lg-4 mt-4">
                            <div class="card1 mx-3 text-center" >
                                  <img style="width:85%; "
                                      src="/images/the3.jpg" 
                                      class="imageCard" 
                                      alt="image de la ferme"
                                  >
                            </div>
                          </div>
                   
                          <div class="col-6   col-md-4 col-lg-4 mt-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/the4.jpg" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                              </div>
                          </div>
               
                         <div class="col-6   col-md-4 col-lg-4 mt-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/the5.jpg" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                              </div>
                          </div>
               
                          <div class="col-6 col-md-4 col-lg-4 mt-4">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:85%; "
                                        src="/images/the6.jpg" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                              </div>
                          </div>
               
                    </div>
                </div>
                </div>
         
      </div>
  </section>
  <section  class=" bg-white article">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                                           
                      <p class="textArt">Vous souhaitez proposer des produits de grande qualité, dans un contexte
                            de commerce équitable et éco responsable, Votre clientèle attend de vous
                            un engagement fort dans cette voie afin d'établir des liens de confiance ?
                      </p>
                      <h4 class="accroche text-center">Dans ce cas prenez le temps de découvrir notre 
                          gamme de produits et nos engagements.
                      </h4>

                     
                       
                </div>
                
            </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card1 mx-1" >
                  <img style="width:100%; "
                      src="/images/tea-fields.jpg" 
                      class="imageCard" 
                      alt="image de la ferme"
                  >
            </div>
      </div>
   </section>
    <section  class=" bg-white article">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
        
                    <h4 class="accroche text-center">  Notre différence : Les services.</h4>
                                    
                      <p class="textArt">trouver un grossiste en thés est assez facile, mais un partenaire qui vous
                                         accompagne dans toute votre activité, c'est beaucoup plus difficile …

                      </p>

                       <h4 class="accroche text-center">Vous créez votre boutique, et vous souhaitez trouver le thé, mais aussi
                            le packaging, le mobilier pour présenter vos produits, et pourquoi pas,
                            le matériel de pesage et de conditionnement ? PLF vous propose tout,
                            avec un seul interlocuteur. Pas besoin de perdre du temps et de l'énergie . .
                            .
                      </h4>
                    
                </div>
                
            </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                      <div class="row d-flex  mx-5   ">
                          <div class="col-6 col-md-4 col-lg-4 mt-1">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:75%; "
                                        src="/images/sachet.png" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                    <p>Sachets thé vrac</p>
                                    
                              </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-4 mt-1  ">
                              <div class="card1 mx-3 text-center" >
                                    <img  style="width:66%;"
                                        src="/images/boite.png" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                    <p>Boite métal thé </p>
                              </div>
                          </div>
                          <div class="col-6   col-md-4 col-lg-4 mt-1">
                            <div class="card1 mx-3 text-center" >
                                  <img style="width:100%; "
                                      src="/images/balance.png" 
                                      class="imageCard" 
                                      alt="image de la ferme"
                                  >
                                   <p>Balance précision</p>
                            </div>
                          </div>
                   
                          <div class="col-6   col-md-4 col-lg-4 mt-5">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:80%; "
                                        src="/images/etagere.png" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                     <p>Etagére présentation</p>
                              </div>
                          </div>
               
                         <div class="col-6   col-md-4 col-lg-4 mt-5">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:97%;  "
                                        src="/images/comptoir.png" 
                                        class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                     <p>Comptoir rustique</p>
                              </div>
                          </div>
               
                          <div class="col-6 col-md-4 col-lg-4 mt-5">
                              <div class="card1 mx-3 text-center" >
                                    <img style="width:95%; "
                                        src="/images/gondole.png"
                                         class="imageCard" 
                                        alt="image de la ferme"
                                    >
                                     <p>Gondole</p>
                              </div>
                          </div>
               
                    </div>
   </section>
      <section class="bg-white">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                    
                       <p class="textArt">Votre boutique en ligne nécessite des contenus médias comme des
                            images, vidéos. Nous vous proposons une médiathèque contenant 
                            des photos, vidéos pour construire votre site, et nous pouvons même
                            vous proposer les services de partenaires pour réaliser votre site.

                       </p>
                       
                </div>
                
            </div>
              <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card1 mx-1" >
                  <img style="width:100%; "
                      src="/images/media.jpg" 
                      class="imageCard" 
                      alt="image de la ferme"
                  >
        </div>
      </div>
  </section>
   <section class=" bg-white">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                    
                       <p class="textArt"> Vous vous posez des questions sur la réglementation dans le domaine 
                                            du thé, des normes d'hygiènes, ou bien sur les certifications bio ?
                                            Vous ne voulez pas prendre de risques juridiques.Nous sommes là pour     
                                            vous apporter des réponses claires afin que vous puissiez vous consacrer
                                            sereinement à votre business. 

 

                       </p>
                       
                </div>
                
            </div>
              <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
              <div class="card1 mx-1" >
                  <img style="width:100%; "
                      src="/images/loi2.jpg" 
                      class="imageCard" 
                      alt="image de la ferme"
                  >
        </div>
      </div>
  </section>
  </div> 
{% endblock %}
