{% extends 'base.html.twig' %}

{% block title %}Offres PRO{% endblock %}

 {# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Découvrez toutes les offres pro et avantages pour nos clients '|trans}}" />
{% endblock %} 

{% block body %}
<div class="container-flex" >
        <section  id ="fndM">
            <div class="d-flex flex-column align-items-center" id="blockTitre" >
                <h1>PLF DISTRIBUTION</h1>
                <h3>Votre grossiste en thés & infusions</h3>
            </div>
            <img class="logoFond" src="/images/menu/logo-fond2.svg" />
            <p class="titre3">Nos offres PRO en 3 packs</p>
        
      </section>
  
  <section  class=" bg-white article">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
                                           
                      <h2 class="textArt mx-2  text-center"> trois packs sont disponibles : Business, eCommerce et Sérénité.
                      </h2>
                     
                       
                </div>
                
            </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
            <div class="card1 mx-1 bg-black" >
                  <img style="width:100%; "
                      src="/images/business/services.png" 
                      class="imageCard" 
                      alt="image de businessman"
                  >
            </div>
      </div>
   </section>
    <section  class=" bg-white article">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card brd  mx-1">
                <div class="card-body "  style="border-style:none">
        
                    <h2 class="accroche text-center"> Description: </h2>

                    <ul>
                    <li>
                        <h3 class="textArt"> pack Business</h3> 
                       <ul class="textArt">
                            <li >accompagnement jurique pour créer votre entreprise</li>
                            <li>Accompagnement dans votre étude de marché. </li>
                            <li>L'étude financiére ( évaluation de la mise de fond) </li>
                            <li>l'aide à la recherche du local.</li> 
                            <li> Accompagnement sur la réglementation.</li>
                            <li> Accompagnement comptable</li>
                            <li>Fourniture du thé</li>

                       </ul> 
                    </li>        
                     <br>
                    <li>
                        <h3 class="textArt"> pack eCommerce</h3> 
                       <ul class="textArt">
                            <li>Partenariat pour création du site</li>
                            <li>hébergement</li>
                            <li>Fourniture des emballages, balance, cartonnage</li>
                            <li>Aide logistique</li> 
                            <li>Accompagnement sur la réglementation.</li>
                            <li>Accés à la médiathéque</li>
                            <li>Fourniture du thé</li>
                       </ul> 
                    </li>                  
                      <br>
                    <li>
                        <h3 class="textArt"> pack sérénité</h3> 
                       <ul class="textArt">
                            <li>accompagnement jurique pour créer votre entreprise</li>
                            <li>Accompagnement dans votre étude de marché. </li>
                            <li>L'étude financiére ( évaluation de la mise de fond) </li>
                            <li>l'aide à la recherche du local si nécessaire.</li> 
                            <li> Accompagnement sur la réglementation.</li>
                            <li> Accompagnement comptable</li>
                            
                            <li>Partenariat pour création d'un site si nécessaire.</li>
                            <li>Avec hébergement </li>
                            <li>Fourniture des emballages, balance, cartonnage</li>
                            <li>Aide logistique</li> 
                            <li>Fourniture du thé</li>
                       </ul> 
                    </li>          
                    
                </div>
                  <h4 class="mx-4 my-4 textArt"> Ces services peuvent être souscrits avec un abonnement renouvelable, ou bien sous forme de crédit utilisation. Il est aussi possible d'acheter un service à l'unité. Renseignez-vous auprés de notre service commercial. </h4>
            </div>
         
       </div>
   </section>
      
  </div> 
{% endblock %}

