{% extends 'base.html.twig' %}
{% block body %}
      <div style="margin: 200px auto ">
        <div class="container d-flex flex-column align-items-center text-center my-3 ">
            <h1 class="ttreT">Désolé, le réglement de votre commande a échoué.</h1>
            <p class="textArt">(La raison de l'échec a été précisée sur Stripe.)</p>
            <a href="{{path('cart_detail')}}" class="buttonStyleRecap btn btn-danger w-50 py-2">Retour au Panier</a>
        </div>
      </div>

{% endblock %}