{% extends 'base.html.twig' %}

{% block title 'Paiement réussi' %}

 {# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Paiement réussi'|trans}}" />
{% endblock %} 

{% block body %}
      <div style="margin: 200px auto ">
        <div class="container d-flex flex-column align-items-center text-center my-3 ">
            <h1 class="ttreT">Merci pour votre commande.</h1>
            <p class="textArt">Un email de confirmation vous a été envoyé.</p>
            <a href="{{path('gamme_index')}}" class="buttonStyleRecap btn btn-success w-35 py-2">Retour au site</a>
        </div>
      </div>

{% endblock %}