{% extends 'admin/base_admin.html.twig' %}

{% block title %}News Articles{% endblock %}

{% block body %}
<div class="container py-5">
  <div class="row">
        <div class="col-12 mb-3">
             <a class="btn btn-primary" href="  {{ path('articles_index') }}">Retour à la liste</a>
        </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1>Nouvel article &  news</h1>
            </div>
            <div class="card-body">
                {{ include('admin/articles/_form.html.twig') }}
            </div>
        </div>
    </div>
  </div>
</div>
   
{% endblock %}

