<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Voulez-vous vraiement supprimer cette catégorie ?');">
  <div class="pos-button">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class=" ms-2 btn text-white buttonStyleC btnBackEnr">Supprimer</button>
</div>
</form>
