<form method="post" action="{{ path('recette_delete', {'id': recette.id}) }}" onsubmit="return confirm('Voulez-vous vraiement supprimer cette recette ?');">
  <div class="pos-button">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
    <button class=" btn text-white buttonStyleC btnBackEnr">Supprimer</button>
</div>
</form>
