{% extends 'base.html.twig'%}


{% block title 'Nos engagements' %}
  
   

{% block body %}
<div class="container-flex"  >
         <div class="infos   py-1"  >
                <div class="mx-1 px-4  ">
                         <section>
                                <br/>
                                <div>
                               
                                <h2 class="titre ttreT d-flex justify-content-center text-success ">   Notre engagement  </h2><br>
                                <div style="height:5px; "class="W-25 bg-success"></div>

                               <div class="mt-4 d-flex justify-content-between"> 
                                <img src="images\bio.png" class="imgEng"  >  
                                <img src="images\ecocert.png" class="imgEng" >   
                                <img src="images\fairtrade.png" class="imgEng"  > 
                                <img src="images\fiches_bio_logo.jpg" class="imgEng" >          
                                </div>
                                
                        </section>   
                        <section class="  py-4" >

                                <br />
                                <h6><strong class="text-success accroche">Une sélection rigoureuse de nos fournisseurs de thés </strong></h6>
                                <p class="textArt">Notre société étant soucieuse de préserver l'environement, et de limiter le plus possible l'impact de notre activité, nous sélectionnons avec soin les fournisseurs de thés éco-responsables, qui doivent respecter nos valeurs, et avoir au moins une certification reconnue dans l'agriculture biologique (AB, Ecocert, ...).</p>
                                <p class="textArt">Nos sélectionons aussi nos fournisseurs pour leur engagement en terme de commerce équitable.</p>

                                <h6><strong class="accroche text-success">Le commerce de proximité est dans nos préoccupations</strong></h6>
                                <p class="textArt">Bien que le thé soit produit dans le monde entier, nous nous engageons à soutenir les producteurs locaux pour certains produits tels que les tisanes et infusions. Nos actions futures seront partagées dans notre newsletter.</p>


                                <h6><strong class="accroche text-success">Notre exigeance en terme de qualité et de respect de l'environement est prioritaire</strong></h6>
                                <p class="textArt">Nos deux priorités sont le respect de l'environement et la qualités de nos produits, avec pour objectif de vous les proposer à des prix raisonables malgré tout. Mais il ne sera jamais question de sacrifier ces deux valeurs primordiales pour des raisons commerciales. </p>

                                <h6><strong class="accroche text-success">Nos valeurs en quelques mots</strong></h6>

                                
                                <ul>
                                <li><p class="textArt">Producteurs qui respectent la sécurité et les normes d'hygiène de leurs employés</p></li>
                                <li> <p class="textArt">Respect de l'environement et méthodes de développementdurable</p></li>
                                <li><p class="textArt">Pas de destruction de l'éco diversité ou de déforestation</p></li>
                                <li><p class="textArt">respect des employés, non utilisation du travail des enfants ou sous contrainte, salaires descents</p></li>
                                
                                </ul>
                                  
                                <h6 class="accroche text-success"> Précisions sur la labélisation des produits biologiques </h6>

                                <p class="textArt">Voici les principaux labels :</p>
                                <ul>
                                        <li><p class="textArt">AB pour la France</p></li>
                                        <li> <p class="textArt">Ecocert pour l'europe</p></li>
                                        <li> <p class="textArt">USDA Organic pour les Etats-unis</p></li>
                                        <li> <p class="textArt">JAS pour le japon</p></li>
                                
                                
                                </ul>
                                                                
                                <p class="textArt">Ces labels sont délivrés par des organismes indépendants, et doivent être renouvelés périodiquement.</p>
                        
                         <div class="mb-4 d-flex justify-content-between"> 
                                 <img src="images\jas.png"  class="imgEng"   >  
                                <img src="images\usda.png"  class="imgEng"  >  
                                 <img src="images\terrebio.png"   class="imgEng"  >  
                                <img src="images\biocanada.png"  class="imgEng"   > 
                                     
                        </div>
                        
                        </section >
                        
                </div>    
       </div>    
  </div>               
   
{% endblock %}