{% extends 'base.html.twig'%}


{% block title 'Politique de confidentialité' %}
  
   

{% block body %}
<div class="container-flex"  >
         <div class="infos fondcgv py-4"  >
                <div class="mx-4 px-4 ">
                    <section class="px-2 py-2">
                        <h2 class=" text-success  d-flex justify-content-center my-3 titreConfident ttreT">Politique de Confidentialité</h2>
                        <div style="height:5px; "class="W-25 bg-success"></div>    
                    </section> 
                    <div class=" my-2  mx-3 infos ">
                                <h6 class="text-success accroche">Cette page vous informe sur les points suivants:</h6>

                                <ul class="politiqueLien">
                                    <li><a class="textArt" href="#DPerso">Données personnelles traitées. </a></li>
                                    <li><a class="textArt" href="#Raison">Pour quelle raison et comment.</a></li>
                                    <li><a class="textArt" href="#Prov">Provenance des données traitées. </a></li>
                                    <li><a class="textArt" href="#Qui">Qui les traitent. </a></li>
                                    <li><a class="textArt" href="#Jur">Quelle Juridiction est appliquée. </a></li>
                                </ul>
                                <a name="DPerso"></a>
                                {# <p><br /></p>
                                <p><br /></p> #}
                                <hr>
                                <h6 class="text-success accroche">1- Données personnelles traitées.</h6>
                                <p class="textArt" >Les traitements de données effectuées par <strong>PLF SAS</strong> dans le site <strong>PLF GROSSISTE EN THE</strong> concernent les visiteurs, les clients du site qui souhaitent acheter les articles ou utiliser les services (Contenus, vidéos, ou tout autre fonctionnalité).</p>
                                <p class="textArt">Dans le cas d'un utilisateur du site et disposant d'un compte </p>
                                <ul>
                                <li><p class="textArt">Nom et Prénom</p></li>
                                <li><p class="textArt">Genre </p></li>
                                <li><p class="textArt">Date de naissance</p></li>
                                <li><p class="textArt">Email</p></li>
                                <li><p class="textArt">Adresse postale </p></li>
                                <li><p class="textArt">Téléphone</p></li>
                                <li><p class="textArt">préférence en terme de goût</p></li>
                                </ul>
                                
                                <a name="Raison"> </a>
                                <hr>
                                <h6 class="text-success accroche">2-Pour quelle raison et comment.</h6>
                                <p class="textArt">
                                    Les données collectées permettent : <br />
                                    - La livraison, le paiement en ligne, l'établissement de la facture. <br />
                                    - De déterminer une sélection de produits en fonction du goût du client. <br />
                                    - De répondre aux contraintes légales en terme de comptabilité ou de litiges.
                                </p>
                                <p class="textArt">
                                    Vos données personnelles sont collectées par : <br />
                                    - Votre action de compléter un formulaire au moment de l'achat. <br />
                                    - En utilisant votre compte personnel. <br />
                                    - En utilisant des services. <br />
                                    - Lorsque vous nous contactez.
                                </p>
                                <p class="textArt">Le site peut aussi collecter des données techniques relatives à votre terminal (PC, tablette, mobile) pour des besoins fonctionnels.</p>
                                <a name="Prov"> </a>
                              
                                <hr>
                                <h6 class="text-success accroche">3-Provenance des données traitées.</h6>
                                <p class="textArt">
                                    - Votre saisie du formulaire de contact.<br />
                                    - Votre saisie du formulaire de vente avec les informations bancaires, l'adresse postale, l'email.<br />
                                    - La génération de la facture par notre systéme de facturation.<br />
                                    - Votre saisie de commentaires par email ou formulaire de satisfaction.
                                </p>
                                <a name="Qui"> </a>
                                {# <p><br /></p>
                                <p><br /></p> #}
                                <hr>
                                <h6 class="accroche text-success">4-Qui les traitent.</h6>
                                <p class="textArt">Dans notre société, les données sont traitées par le personnel procéde à l'expédition, par les dirigeants.</p>
                                <p class="textArt">A l'extérieur, le service postal, la société de comptabilité</p>
                                <p></p>
                                <a name="Jur"> </a>
                                {# <p><br /></p>
                                <p><br /></p> #}
                                <hr>
                                <h6 class="accroche text-success">5-Quelle Juridiction est appliquée</h6>
                                <p class="textArt">
                                    En tant que Personne concernée, vous possédez différents droits. Ces droits ne sont pas absolus et chacun de ces droits est soumis à certaines conditions conformément au RGPD et plus largement à la Réglementation.
                                </p>

                                <p class="textArt">le droit d'accès - vous avez le droit d'obtenir de notre part la confirmation que vos Données personnelles sont ou non traitées par nous, ainsi que certaines autres informations (similaires à celles fournies dans la présente Politique de confidentialité) sur la manière dont elles sont utilisées. Vous avez également le droit d'accéder à vos Données personnelles, en demandant une copie des Données personnelles vous concernant. Cela vous permet de savoir et de vérifier que nous utilisons vos informations conformément aux lois sur la protection des données. Nous pouvons refuser de fournir des informations lorsque cela peut révéler des Données personnelles sur une autre personne ou affecter négativement les droits d'une autre personne. </p>
                                <p class="textArt">le droit de rectification - vous pouvez nous demander de prendre des mesures pour corriger vos Données personnelles si elles sont inexactes ou incomplètes (par exemple, si nous avons le mauvais nom ou la mauvaise adresse). </p>
                                <p class="textArt">le droit de rectification - vous pouvez nous demander de prendre des mesures pour corriger vos Données personnelles si elles sont inexactes ou incomplètes (par exemple, si nous avons le mauvais nom ou la mauvaise adresse). </p>
                                <p class="textArt">le droit de rectification - vous pouvez nous demander de prendre des mesures pour corriger vos Données personnelles si elles sont inexactes ou incomplètes (par exemple, si nous avons le mauvais nom ou la mauvaise adresse). </p>
                                <p class="textArt">le droit à l'effacement - aussi connu sous le nom de « droit à l'oubli », ce droit vous permet, en termes simples de demander l'effacement ou la suppression de vos Données personnelles lorsque, par exemple, il n'y a aucune raison impérieuse pour nous de continuer à les utiliser ou leur utilisation est illégale. Il ne s'agit toutefois pas d'un droit général à l'effacement et il existe quelques exceptions, par exemple lorsque nous devons utiliser les informations pour défendre une action en justice ou pour être en mesure de respecter une obligation légale. </p>
                                <p class="textArt">le droit de limiter le traitement - vous avez le droit de « bloquer » ou d'empêcher l'utilisation ultérieure de vos Données personnelles lorsque nous évaluons une demande de rectification ou comme alternative à l'effacement. Lorsque le traitement est limité, nous pouvons toujours conserver vos Données personnelles, mais nous ne pouvons pas les utiliser davantage. </p>
                                <p class="textArt">le droit à la portabilité des données - vous avez le droit d'obtenir et de réutiliser certaines Données personnelles pour vos propres besoins dans différentes sociétés (qui sont des responsables de traitement de données distincts). Ceci ne s'applique qu'aux Données personnelles que vous nous avez fournies, que nous traitons avec votre consentement et à des fins d'exécution du contrat, qui sont traitées par des moyens automatisés. Dans ce cas, nous vous fournirons une copie de vos données dans un format structuré, couramment utilisé et lisible par une machine ou (lorsque cela est techniquement possible) nous pourrons transmettre vos données directement à autre Responsable de traitement. </p>
                                <p class="textArt">le droit d'opposition - vous avez le droit de vous opposer à certains types de traitement, pour des raisons liées à votre situation particulière, à tout moment, dans la mesure où ce traitement a lieu aux fins d'intérêts légitimes poursuivis par LV vitalité SAS. Nous serons autorisés à continuer à traiter les Données personnelles si nous pouvons démontrer que le traitement est justifié par des raisons impérieuses et légitimes qui l'emportent sur vos intérêts, vos droits et libertés ou si nous en avons besoin pour l'établissement, l'exercice ou la défense d'actions en justice. Si vous vous opposez au traitement de vos Données personnelles à des fins de marketing direct, nous ne traiterons plus vos Données personnelles à de telles fins. </p>
                                <p class="textArt">le droit de retirer votre consentement - lorsque nous traitons vos Données personnelles sur la base de votre consentement, vous avez le droit de retirer votre consentement à tout moment. Toutefois, un tel retrait n'affecte pas la licéité du traitement qui a eu lieu avant ce retrait. </p>
                                <p class="textArt">le droit de nous fournir des directives sur l'utilisation de vos Données personnelles après votre décès - En France, vous avez le droit de nous fournir des instructions sur la gestion (par exemple, la conservation, l'effacement et la divulgation) de vos données après votre décès. Vous pouvez modifier ou révoquer vos instructions à tout moment. </p>
                            
                                 <br>
                </div>
             </div>
          </div>
             
  
{% endblock %}