

    <head>
    <titre> Modifier votre mot de passe </titre>
    </head>
    <body>
        <div style="padding:2rem;dispay:flex;flex-direction:row;justify-content:center;margin-top:2rem;text-align:center;background-color:black; ">
                 <img src="{{ email.image('@img/logofondnoir.png') }}" alt="Logo"> {# path img configuré dans config twig #}
       
            <div style="text-align:center; ">
              
                          <div style="text-align:center;color:white;background-color:black;height:3rem">
                             <h5 style="margin-top:2rem">PLF DISTRIBUTION</h5>
                          </div>
            </div>
            <div style="text-align:center;color:white">
              <p> Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe : </p>
              <a href={{ url('app_password_lost_modification',{'token': user.getTokenPasswordLost()}) }}>Modification de votre mot de passe</a>
            </div>
                          
                        
                 
       </div>
    </body>
</html>   

 