
<html>
    <head>
       <titre> Modifier votre mot de passe </titre>
    </head>
    <body>
        <div style="padding:2rem;dispay:flex;flex-direction:row;justify-content:center;margin-top:2rem;text-align:center;background-color:black; ">
                <img src="{{ email.image('@img/logoFondNoir.png') }}" alt="Logo">
        </div>
         <div style="margin-top:2rem;text-align:center; ">
                <h1> Modification de votre mot de passe </h1>
                <p><b> Veuillez cliquez sur ce lien pour modifier votre mot de passe : </p></p>
                <a href={{ url('app_password_lost_modification',{'token': user.getTokenPasswordLost()}) }}>Modification de votre mot de passe</a>
        </div>
    </body>

 